<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>太阳城贵宾服务 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.default.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/childcompany_new.css">
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    {{! <h1 class="title-for-seo">太阳城贵宾服务</h1> }}
    <div class="common-banner"> 
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">贵宾服务</h1>
      </div>
    </div>
    <!-- banner -->
    <div class="banner-box">
      <div class="wow slideInLeft banner-wrapper">
        {{! <a href="javascript:void(0);" target="_blank" class="logo-link"><img class="banner-logo" src="/static/imgs/logo-sun-vip-02.svg" alt="sun-vip"></a> }}
        <div class="banner-text">
          <p>太阳城集团提供完备的一站式尊贵服务，涵盖澳门至海外地区，由预订交通住宿、代办旅游签证，到个人化行程安排、美食娱乐、奢华购物、专车接送等一应俱全，务求为客人度身订造最难忘的刺激娱乐体验！<br>
          会员更可尊享丰厚精彩的独家优惠，于超过200家商户刷卡消费，以积分兑换各款名贵限量礼品，务求以全方位的贴心服务，彰显其卓尔不群的超凡身份。</p>
          <div class="sgs-box">
            <div class="sgs-icon-box">
              <i class="icon-sgs"></i>
              <i class="icon-bitmap"></i>
            </div>
            <div class="sgs-info">
              <h2 class="sgs-info-title">SGS国际服务认证</h2>
              <p>集团一直以服务为本，精益求精。继2013年开创业界先河，通过全球最具权威性的品质验证组织SGS Qualicert™ 的国际服务认证后，集团更于 2018年7月成为全球首家荣获更高级别的SGS Qualicert™「7星级服务认证」的娱乐服务机构，代表本集团服务水准达国际优质水平，领先世界。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="mainImg">
        <img src="/static/imgs/sun-vip.jpg" alt="Suncity Group" />
    </div>
    <section class="latest-news diamond-bg">
      <h1 class="latest-news-title"><a href="/{{LanguageDisplay}}/news">最新消息<i class="more-button"></i></a></h1>
      <div class="slide-wrapper">
        <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-slide" id="carousel">
          {{#News}}
          <div class="slide-item">
            <a href="/{{LanguageDisplay}}/news/category/{{slug}}">
              <div class="ratio-16-9"><img src="{{square_link.url}}" class='onerror'  ></div>
              <div class="item-info">
                <p class="item-info-text">{{title}}</p>
                <div class="item-date">{{date}}</div>
                <span class="go-more">继续阅读</span>
              </div>
            </a>
          </div>
          {{/News}}
        </div>
      </div>
    </section>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/vender/owl.carousel.min.js"></script>
    <script src="/static/js/childcompany.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
