<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
  <meta http-equiv="Content-Language" content="zh-HK">
  <title>就业机会 - 太阳城集团 SUNCITYGROUP</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <link rel="stylesheet" href="/static/css/animate.css" />
  <link rel="stylesheet" href="/static/css/application.css" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{> header }}
  <!-- banner -->
  <div class="common-banner"> 
    <div class="common-banner-content">
      <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
      <h1 class="common-banner-title">申请职位</h1>
    </div>
  </div>
 <div class="apliaction_content">
    <h3 class="top_title">职位申请</h3>
    <div class="top_pagination">
        <ul class="pagination_content">
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
        </ul>
        <p></p>
    </div>
    <div id="content_one">

    </div>
 </div>
  {{> footer}}
  <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
  <script src="/static/js/vender/wow.min.js"></script>
  <script src="/static/js/footer.js"></script>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/vender/utility.js"></script>
  <script src="/static/js/hreflang.js"></script>
</body>

</html>