* {
    margin: 0;
    padding: 0;
}

.container {
    background: #f5f5f5;
}

.content_onlySign {
    margin: 0 auto;
}

.placeholder{
    color: #b5b5b6 !important;
}

#content_two .block > label {
    width: 120px;
}

#content_for .block > label {
    width: 107px;
    margin-right: 26px;
}

#content_three .block > label,
#content_six .block > label {
    width: 107px;
    margin-right: 19px;
}

#content_nine .block > label {
    width: 187px;
    margin-right: 11px;
}

#content_five .block > label,
#content_seven .block > label,
#content_eight .block > label,
#content_ten .block > label ,
#content_eleven .block > label {
    width: 116px;
    margin-right: 10px;
}

#content_ten .change_btn,
#content_five .change_btn,
#content_six .change_btn,
#content_eight .change_btn {
    padding-bottom: 0;
}

#content_seven .change_btn {
    padding: 29px 0 30px;
}

#content_seven .footer_line {
    margin-bottom: 50px;
}

#content_seven .footer_line_bottom {
    margin-top: 0;
}

#content_seven .multi-li:last-child .footer_line{
    margin-bottom: 0;
}

#content_eleven .drop-down {
    width: 250px;
}

.content_onlySign {
    display: none;
}

.top_box {
    padding: 46px 0 30px;
    max-width: 1080px;
    margin: 0 auto;
    width: 94.4%;
}

.top_title {
    width: 100%;
    text-align: center;
    color: #614a0b;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 22px;
    font-weight: 700;
}

.top_pagination {
    width: 100%;
    position: relative;
}

.pagination_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination_content li {
    flex: 1;
    height: 18px;
    text-align: center;
    z-index: 1;
}

.pagination_content li span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #b5b5b6;
    border-radius: 50%;
    z-index: 1;
}

.top_pagination p {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 9px;
    height: 3px;
    background: #ccc;
}

.pagination_content li b {
    background-color: #a19062;
    height: 3px;
    width: 7.8%;
    display: block;
    position: absolute;
    top: 9px;
    z-index: -1;
    /* margin-left: 5%; */
    display: none;
}

.active {
    background-color: #a19062;
}

.multi-template{
    display: none;
}

.footer_line {
    background: #a19062;
    max-width: 1000px;
    min-width: 300px;
    width: 86%;
    height: 1px;
    margin: 0 auto;
    margin-top: 50px;
}

.multi-main .multi-li {
    margin-top: 50px;
}
.multi-main .multi-li:first-child {
    margin-top: 0;
}
.filed-required {
    position: relative;
}

.important {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -17px;
    width: 14px;
    color: #d74153;
    font-size: 28px;
    text-align: center;
}

.block {
    margin: 5px 0;
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-size: 0;
    display: flex;
    justify-content: center;
}

.block > label {
    box-sizing: border-box;
    display: inline-block;
    width: 80px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.16px;
    color: #a19062;
    text-align: left;
    line-height: 40px;
    height: 40px;
    cursor: default;
    margin-right: 10px;
}

.center {
    text-align: center;
}

label > span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    line-height: 20px;
    color: #a19062;
}

input,
textarea,
select {
    vertical-align: top;
    width: 300px;
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    /* color: #b5b5b6; */
    padding-left: 10px;
    font-size: 14px;
    /*font-weight: 600;*/
    box-sizing: border-box;
}
textarea {
    max-width: 300px;
    min-width: 300px;
}
.field-important{
    display: inline-block;
    width: 300px;
    position: relative;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
      color: #b5b5b6;
      font-size: 14px;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
      color: #b5b5b6;
      font-size: 14px;
}
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
      color: #b5b5b6;
      font-size: 14px;
}

select {
    color: #b5b5b6;
}

.content_box {
    text-align: center;
}

.icon {
    position: absolute;
    right: 27%;
    top: 0;
    top: 11px;
}

.drop-down {
    cursor: default;
}

.change_btn {
    width: 100%;
    padding: 29px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #efebdf;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.change_btn p {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #a19062;
    background-color: #ffffff;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #a19062;
    cursor: pointer;
}

.change_btn p b {
    font-style: 18px;
}

.footer p {
    box-sizing: border-box;
    width: 118px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid 1px #a19062;
    background-color: #ffffff;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #a19062;
    cursor: pointer;
}

.change_radio input {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.change_radio {
    display: flex;
    flex-wrap: wrap;
}

.flex_change {
    display: flex;
    flex-wrap: wrap;
}

.change_radio label {
    width: 100px;
    line-height: 30px;
}

.flex_change .block {
    width: 100%;
    display: felx;
}

/* 公共样式 */
.fontstyle {
    color: #a19062;
    font-size: 14px;
    font-weight: 700;
}

.radioBtn {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}

.radioBtn input[type="radio"] {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    opacity: 0;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    opacity: 0;
}

.radioLabel {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    border-radius: 100%;
    padding-right: 0px;
}

.radioLabelLeft {
    left: 40px;
}

input:checked+.radioLabel::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 4px;
    left: 4px;
    background-color: #a19062;
    border-top: none;
    border-left: none;
    border-radius: 100%;
}

.radioBtnBox {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    width: 300px;
    height: 40px;
    align-items: center;
}

.selectBox {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    /* 这个样式就是清楚他的下拉按钮的默认样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*替换选择框的最右侧显示小箭头图片*/
    background: url("/static/imgs/job-arrow-down.svg") no-repeat scroll right center #ffffff;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 5px; 
    background-position: 85%;
}

textarea {
    vertical-align: top;
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    padding: 10px 10px;
    max-height: 200px;
    min-height: 80px;
    max-height: 100px;
}
.divider {
    width: 9px;
    border: 1px solid #a19062;
    margin: 10px 6px;
}
.drop-down-contact-phone{
    width: 60%;
}
.selectBoxRadioBtnBox{
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    /* 这个样式就是清楚他的下拉按钮的默认样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*替换选择框的最右侧显示小箭头图片*/
    background: url("/static/imgs/job-arrow-down.svg") no-repeat scroll #ffffff;
    background-position: right 14px center;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 42px 0 10px;
}

.selectBoxRadioBtnBoxValue{
    width: 100%;
    background: url(/static/imgs/fill-1.svg) no-repeat scroll #ffffff;
    background-position: right 14px center;
}

.selectBoxRadioBtnBoxFileWrap {
    vertical-align: top;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}

.selectBoxRadioBtnBoxFile{
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.region_one  {
    box-sizing: border-box;
    padding: 0;
}
.region_one .ms-choice{
    width: 100%;
    height: 38px;
    padding: 0;
    margin: 0;
    border:none;
    line-height: 38px;
    font-size: 14px;
    background: transparent;
}

.region_one .ms-choice>span.placeholder, .region_one label span {
    color: #49443d;
    font-weight: normal;
}

.region_one .ms-choice>span{
    padding-left: 10px;
}

.region_one .ms-choice>div{
    display: none;
}
.region_one input[type="checkbox"]{
    opacity: inherit;
}
.ms-drop label {
    text-align: left;
}

.ms-drop input[type=radio], .ms-drop input[type=checkbox] {
    width: auto;
    height: auto;
    margin: 0 5px;
    vertical-align: inherit !important;
}

@media(max-width: 640px){
    .multi-main .multi-li {
        margin-top: 34px;
    }

    #content_seven .footer_line {
        margin-bottom: 34px;
    }
    /*
    .change_btn {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .footer_line {
        margin: 20px auto;
    }*/
    .radioBtnBox:empty {
        display: none;
    }
    label > span:empty {
        display: none;
    }
    .top_box {
        padding-top: 38px;
    }
    .top_title{
        line-height: 25px;
    }
    .block {
        width: 300px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .input-format {
        position: absolute;
        color: red;
        bottom: 0;
        display: none;
    }
    .block > label {
        box-sizing: border-box;
        padding: 16px 0 4px 2px;
        line-height: 20px;
        height: auto;
        font-size: 14px;
        width: 300px !important;
        margin: 0 auto;
    }

    .footer {
        margin-top: 50px;
    }

    .important {

    }
    /*
    .selectBoxRadioBtnBoxFileWrap {
        width: 100%;
    }
    .radioBtnBox {
        width: 100%;
    }
    textarea {
        max-width: 100%;
    }
    .selectBoxRadioBtnBox {
        width: 100% !important;
    }
    .filed-required{
        width: 100%;
    }

    input,textarea {
        width: 100%;
    }
    */
}


@media(max-width: 360px){
    .important{
        right: -10px;
        text-align: right;
    }
}
.input_format {
    position: relative;
}
.input_format span {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    color: red;
    display: block;
    z-index: 1;
    /* background: red; */
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    display: none;
    white-space: nowrap;
    font-size: 13px;
}
/* 申请职位 logo */
  @media(min-width: 1700px) {
    .application-banner-content {
        max-width: 1000px;
    }
 }
  @media(max-width: 1024px) {
    .application-banner-content {
     padding-left: 25px;
    }
  } 
  @media(min-width: 769px) and (max-width: 1000px){
    .application-banner-content {
     padding-left: 70px;
    }
  } 