* {
    margin: 0;
    padding: 0;
}

.container {
    background: #f5f5f5;
}

.apliaction_content {
    /*background: red;*/
    max-width: 70%;
    height: 100%;
    margin-left: 15%;
}

.top_box {
    padding: 4% 0;
}

.top_title {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #614a0b;
    font-size: 24px;
    padding-bottom: 30px;
}

.top_pagination {
    width: 100%;
    position: relative;
}

.pagination_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination_content li {
    flex: 1;
    height: 18px;
    text-align: center;
    z-index: 1;
}

.pagination_content li span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #b5b5b6;
    border-radius: 50%;
    z-index: 1;
}

.top_pagination p {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 9px;
    height: 3px;
    background: #ccc;
}

.pagination_content li b {
    background-color: #a19062;
    height: 3px;
    width: 7.8%;
    display: block;
    position: absolute;
    top: 9px;
    z-index: -1;
    /* margin-left: 5%; */
    display: none;
}

.active {
    background-color: #a19062;
}

.footer_line {
    background: #a19062;
    width: 100%;
    height: 2px;
    margin-top: 4%;
}

.important {
    color: #d74153;
    font-size: 28px;
    position: absolute;
    left: 77%;
    line-height: 50px;
}

.block {
    margin: 5px 0;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    font-size: 14px;
}

.center {
    text-align: center;
}

label {
    display: inline-block;
    width: 130px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #a19062;
    line-height: 40px;
    padding-right: 10px;
}

input,
textarea,
select {
    vertical-align: top;
    width: 40%;
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    /* color: #b5b5b6; */
    padding-left: 10px;
    font-size: 14px;
    /*font-weight: 600;*/
}
input::-webkit-input-placeholder {
      color: #b5b5b6;
}
.content_box {
    text-align: center;
    padding-bottom: 5%;
}

.icon {
    position: absolute;
    right: 27%;
    top: 0;
    top: 11px;
}

.drop-down {
    cursor: default;
}

.change_btn {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #efebdf;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.change_btn p {
    padding: 10px 20px;
    border-radius: 4px;
    border: solid 1px #a19062;
    background-color: #ffffff;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #a19062;
    cursor: pointer;
}

.change_btn p b {
    font-style: 18px;
}

.footer p {
    padding: 10px 20px;
    border-radius: 4px;
    border: solid 1px #a19062;
    background-color: #ffffff;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #a19062;
    cursor: pointer;
}

.change_radio input {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.change_radio {
    display: flex;
    flex-wrap: wrap;
}

.flex_change {
    display: flex;
    flex-wrap: wrap;
}

.change_radio label {
    width: 100px;
    line-height: 30px;
}

.flex_change .block {
    width: 100%;
    display: felx;
}

/* 公共样式 */
.fontstyle {
    color: #a19062;
    font-size: 14px;
    font-weight: 700;
}

#content_seven .radioBtn {
    position: relative;

}

input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}

.radioLabel {
    position: absolute;
    /* left: 25px; */
    top: 0;
    width: 20px;
    height: 20px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    border-radius: 100%;
    padding-right: 0px;
}

.radioLabelLeft {
    left: 40px;
}

input:checked+.radioLabel::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: #a19062;
    border-top: none;
    border-left: none;
    border-radius: 100%;
}

.radioBtnBox {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    width: 42%;
    height: 40px;
    /* padding-left: 10px; */
    align-items: center;
}

.selectBox {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    /* 这个样式就是清楚他的下拉按钮的默认样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*替换选择框的最右侧显示小箭头图片*/
    background: url("/static/imgs/job-arrow-down.svg") no-repeat scroll right center #ffffff;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 5px; 
    background-position: 85%;
}
textarea {
    vertical-align: top;
    width: 40%;
    max-width: 40%;
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    background-color: #ffffff;
    color: #b5b5b6;
    padding-left: 10px;
    max-height: 200px;
    min-height: 80px;
    max-height: 100px;
}
.divider {
    width: 9px;
    border: 1px solid #a19062;
    margin: 10px 6px;
}
.drop-down-contact-phone{
    width: 60%;
}
.selectBoxRadioBtnBox{
    width: 41%;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e5dcc9;
    /* 这个样式就是清楚他的下拉按钮的默认样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*替换选择框的最右侧显示小箭头图片*/
    background: url("/static/imgs/job-arrow-down.svg") no-repeat scroll right #ffffff;
    background-position: 90% 15px;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 5px;
}
@media (min-width: 1440px) and (max-width: 1650px){
    .important {
        left: 80%;
    }
}
@media (min-width: 1020px) and (max-width: 1439px){
    .important {
        left: 82%;
    }
}
@media (min-width: 769px) and (max-width: 1019px){
    .important {
        left: 85%;
    }
}
@media (min-width: 641px) and (max-width: 768px){
    .important {
        left: 89%;
    }
}

@media(max-width: 640px){
    .radioBtnBox {
        width: 100%;
    }
    textarea {
        max-width: 100%;
    }
    .block {
        margin: 5px 0;
        /* text-align: center; */
        display: flex;
        position: relative;
        justify-content: left;
        margin-top: 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        width: 100%;        
    }
    .important {
        color: #d74153;
        font-size: 28px;
        position: absolute;
        left: -15px;
        top: -3%;
        line-height: 50px;
    }
    .selectBoxRadioBtnBox {
        width: 100%;
        padding-right: 50px;
    }
    input,textarea {
        width: 100%;
    }
    .apliaction_content {
        /* background: red; */
        max-width: 80%;
        height: 100%;
        margin-left: 10%;
    }
}