{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/newsEdit')}">
    <?php if(empty($list)): ?>
    <div class="layui-form-item flex-column">
        <label class="labels">選擇分類</label>
        <div class="layui-input-inline">
            <select name="parent_id" id="parent_id">
                <option value="0">請選擇</option>
                <?php foreach($grouplist as $key=>$val): ?>
                <option value="<?php echo $val['id']; ?>" <?php if(isset($list['parent_id']) && $list['parent_id']==$val['id']){echo "selected";} ?> > <?php echo $val['title']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <?php endif; ?>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>slug：</label>
        <div class="layui-input-inline">
            <input type="text" name="slug" placeholder="請輸入" autocomplete="off" class="layui-input" lay-verify="required"
                   value="{:isset($list.slug)?$list.slug:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>展示順序：</label>
        <div class="layui-input-inline">
            <input type="number"  name="seq" placeholder="請輸入" autocomplete="off" class="layui-input" lay-verify="required"
                   value="{:isset($list.seq)?$list.seq:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>分類繁體名稱：</label>
        <div class="layui-input-inline">
            <input type="text" name="name_hk" placeholder="請輸入" autocomplete="off" class="layui-input" lay-verify="required"
                   value="{:isset($list.name_hk)?$list.name_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>分類簡體名稱：</label>
        <div class="layui-input-inline">
            <input type="text" name="name_cn" placeholder="請輸入" autocomplete="off" class="layui-input" lay-verify="required"
                   value="{:isset($list.name_cn)?$list.name_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">分類英文名稱：</label>
        <div class="layui-input-inline">
            <input type="text" name="name_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name_en)?$list.name_en:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">繁體橫幅標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.title_hk)?$list.title_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">簡體橫幅標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.title_cn)?$list.title_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">英文橫幅標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.title_en)?$list.title_en:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">繁體橫幅正文：</label>
        <div class="layui-input-inline">
            <input type="text" name="content_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.content_hk)?$list.content_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">簡體橫幅正文：</label>
        <div class="layui-input-inline">
            <input type="text" name="content_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.content_cn)?$list.content_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">英文橫幅正文：</label>
        <div class="layui-input-inline">
            <input type="text" name="content_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                   value="{:isset($list.content_en)?$list.content_en:''}">
        </div>
    </div>
    <!--<div class="layui-form-item flex-column" id="test">-->
        <!--<label class="labels">1920分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file1" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test1" class="add_img">&ndash;&gt;-->
            <!--&lt;!&ndash;<span >&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<label class="labels">1440分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file2" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test2" class="add_img">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<label class="labels">1024分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file3" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test3" class="add_img">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<label class="labels">768分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file4" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test4" class="add_img">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<label class="labels">640分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file5" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test5" class="add_img">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<label class="labels">375分辨率橫幅圖片：</label>-->
        <!--<input type="file" name="file6" accept="image/*">-->

        <!--&lt;!&ndash;<div id="test6" class="add_img">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add">+</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="add_title">上传图片</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">

            <button class="layui-btn" lay-submit lay-filter="*" id="commit">確認</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use(['form', 'jquery', 'formSelects','layedit','upload'], function () {

        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form;

        //表单提交
        form.on("submit(*)", function (data) {
            //ajax执行
            $.ajax({
                type: "post",
                url: '/admin/classifyEdit',
                data:data.field,
                dataType: "json",
                success: function(data){
                    console.log(data)
                    if(data.code==200){
                        //关闭当前iframe页面
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layer.msg('成功',{icon:1});
                        parent.location.reload();
                    }else{
                        parent.layer.msg('失败',{icon:2});
                    }
                }
            });

            return false;
        });


        var upload = layui.upload;

        upload.render({
            elem: '#test'
            ,url: '/admin/classifyEdit'

            ,accept: 'images'
            ,acceptMime: 'image/jpg, image/png'
            ,auto: false //选择文件后不自动上传
            ,bindAction: '#commit' //指向一个按钮触发上传
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();
                console.log(files)
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result){
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    // console.log(result); //得到文件base64编码，比如图片
                    var imgobj = new Image(); //创建新img对象
                    imgobj.src = result; //指定数据源
                    imgobj.className = 'thumb';
                    imgobj.onclick = function(result) {
                        //单击预览
                        // img_prev.src = this.src;
                        // var w = $(window).width() - 42, h = $(window).height() - 42;
                        // layer.open({
                        //     title: '预览',
                        //     type: 1,
                        //     area: [w, h], //宽高
                        //     content: $('#prevModal')
                        // });
                    };
                    document.getElementById("div_prev").appendChild(imgobj); //添加到预览区域
                });
            }
            ,done: function(res, index, upload){
                layer.closeAll('loading'); //关闭loading

                if(res.code === 200){
                    //关闭当前iframe页面
                    // var indexs = parent.layer.getFrameIndex(window.name);
                    // parent.layer.close(indexs);
                    parent.layer.msg('添加成功',{icon:1});
                    // parent.location.href = '/admin/photoList';
                    // parent.location.reload();
                }else{
                    parent.layer.msg('添加失败',{icon:2});
                }
            }
            ,error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
            }
        });
    });

</script>
{/block}