{extend name="base/base" /}
{block name="main"}
<style>
    html, body {
        height: 100%;
    }
</style>
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal" onclick="add();">添加節點</a>
                <a class="layui-btn  layui-btn-normal" onclick="openAll();">展開或折疊全部</a>
            </div>
        </form>
    </blockquote>
</form>
<script type="text/html" id="status">
    <input type="checkbox" name="menustatus" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="menustatus"
           {{ d.status== 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-xs" lay-event="edit">編輯</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<table class="layui-table" id="treeTable" lay-filter="treeTable"></table>
{/block}
{block name="script"}
<script>
    var ptable = null, treeGrid = null, tableId = 'treeTable', layer = null, $ = null, form = null
    layui.config({
        base: '/layui/extend/'
    }).extend({
        treeGrid: 'treeGrid'
    }).use(['jquery', 'treeGrid', 'layer', 'form'], function () {
        $ = layui.jquery;
        treeGrid = layui.treeGrid;
        layer = layui.layer;
        form = layui.form;
        ptable = treeGrid.render({
            id: tableId,
            elem: '#' + tableId,
            idField: 'id',
            url: "{:url('/admin/get_classify_data')}",
            cellMinWidth: 100,
            treeId: 'id',//树形id字段名称
            treeUpId: 'parent_id',//树形父id字段名称
            treeShowName: 'slug',//以树形式显示的字段
            height: 'full-140',
            isFilter: false,
            iconOpen: false,//是否显示图标【默认显示】
            isOpenDefault: false,//节点默认是展开还是折叠【默认展开】
            onDblClickRow: false,//去除双击事件
            cols: [[
                {field: 'slug', title: 'slug', width:150},
                {field: 'id', title: '分類id',align:"center",},
                {field: 'seq', title: '展示順序', align:"center",},
                {field: 'name_hk', title: '繁體名稱', align:'center'},
                {field: 'name_cn', title: '簡體名稱', align:'center'},
                {field: 'name_en', title: '英文名稱', align:'center'},
                {title: '操作', width:320, templet:'#action',fixed:"right",align:"center"}
            ]],
            page: false
        });
        treeGrid.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('確定刪除操作？', {icon: 3, title: '提示信息'}, function (index) {
                    $.post("{:url('/admin/classifyDelete')}", {id: data.id}, function (data) {
                        var icon = 5;
                        if (data.code) {
                            icon = 6;
                        }
                        layer.msg(data.msg, {icon: icon}, function () {
                            if (data.code) {
                                obj.del();//删除对应的行
                            }
                        });
                        location.reload();
                    });
                });
            }
            if (obj.event === 'edit') {
                edit(data.id)
            }
        });
    });

    /**
     * 添加菜单
     */
    function add() {
        var index = layui.layer.open({
            type: 2,
            title: '添加',
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: "{:url('/admin/classifyEdit')}",
            success: function (layero, index) {
                var body = layui.layer.getChildFrame('body', index);
                setTimeout(function () {
                    layui.layer.tips('點擊返回列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                }, 500)
            }
        });
        // layui.layer.full(index);
        window.sessionStorage.setItem("index",index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            // layui.layer.full(window.sessionStorage.getItem("index"));
        })
    }

    /**
     * 编辑菜单
     * @param id
     */
    function edit(id) {
        var index = layui.layer.open({
            type: 2,
            title: '编辑',
            area: ['100%', '100%'],
            fixed: false, //不固定
            maxmin: true,
            content: "{:url('/admin/classifyEdit')}" + '?id=' + id,
            success: function (layero, index) {
                var body = layui.layer.getChildFrame('body', index);
                setTimeout(function () {
                    layui.layer.tips('點擊返回列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                }, 500)
            }
        });
        // layui.layer.full(index);
        window.sessionStorage.setItem("index", index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize", function () {
            // layui.layer.full(window.sessionStorage.getItem("index"));
        })
    }

    function openAll() {
        var treedata = treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId, !treedata[0][treeGrid.config.cols.isOpen]);
    }
</script>
{/block}