<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>無法顯示網頁 - 太陽城集團 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/404.css" />
  </head>
  <body>
    <div class="container-404">
      <a class="logo" href="/zh-hant" title="Suncity Group">
        <img src="/static/imgs/suncity-logo.svg" alt="suncity-logo"/>
      </a>
      <img class="pic-alert" src="/static/imgs/alert.png" alt="" />
      <img class="pic-404" src="/static/imgs/404.png" alt="404" />
      <p class="tip-404">Oops！無法顯示網頁！</p>
      <a class="back-to-index" href="/{{LanguageDisplay}}">
        返回首頁
      </a>
    </div>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
