<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>太陽城集團</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
  </head>
  <body>
    500 error
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
