<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>集團簡介 - 太陽城集團 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/icn.aniamte.css" />
    <link rel="stylesheet" href="/static/css/aboutus.css" />
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <!-- banner -->
    <div class="common-banner">
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">集團介紹</h1>
      </div>
    </div>
    <!-- overview -->
    <a name="about-us-overview"></a>
    <section class="about-us-section">
      <div class="wow fadeIn about-us-section-content">
        <div class="about-us-section-text">
          <h2 class="about-us-section-title">關於太陽城集團</h2>
          <div class="about-us-section-detail">
             <p>太陽城集團始創於2007年。成立之初，集團主力為客戶提供尊貴娛樂服務，隨著業務急速發展，太陽城會的足跡已遍及澳門眾多星級酒店及度假村，更先後在馬尼拉、墨爾本、悉尼、首爾、仁川、金邊、峴港等大城市，建立專屬太陽城會，正式衝出亞洲！</p>
              <br>
              <p>一直以來，太陽城集團堅守「多元創新，積極進取」的精神，全力開拓高端娛樂及相關產品服務，並設立全球首屈一指的尊貴會籍，為會員一站式打造極致娛樂、旅遊、餐飲、購物及影視享受。時至今日，我們的業務已日趨多元化，服務範疇遍及各行各業，全力打造涵蓋寰宇旅遊、電影製作、演唱會及活動策劃、餐飲、奢侈品等領域的一站式娛樂平台。</p>
              <br>
              <p>太陽城集團紮根澳門，銳意發展國際化娛樂業務，開拓更廣闊市場。未來，我們將會創建更多元化的高端娛樂服務，吸納更多尊貴會員，決心將業務擴展至全球每個角落，在國際舞台綻放耀眼光芒！</p>
              <br>
          </div>
        </div>
        <div class="about-us-section-img">
          <img src="/static/imgs/suncity-logo-web-bg-map-01@2x.png" />
        </div>
      </div>
    </section>
    <!-- bossword -->
    <a name="about-us-bossword"></a>
    <div class="bossword">
      <div class="bossword-wrapper">
        <img class="hidden-boss-375" src="/static/imgs/about-us-boss-768.jpg">
        <div class="wow fadeIn bossword-text">
          <h2 class="h-one">行政總裁的話</h2>
           <p>「逆境是我們的『好朋友』！如果你敢於把握，勇於突破，『逆境』將助你取得更偉大的成就！」</p>
            <span>以「挑戰」為動力  全面開拓多元市場</span>
            <p>太陽城集團於過去一年是豐盛的一年！我們先後在澳門、柬埔寨、菲律賓及澳洲新增多個太陽城會，全力拓展更大版圖，造就盈利穩步上揚。在2018年9月，太陽城集團更榮獲SGS Qualicert™頒發「7星級服務認證」，成為全球首家取得的這項榮譽的企業！此外，我們更成功爭取連續五屆冠名贊助「澳門格蘭披治大賽車」，讓集團成為蜚聲國際的跨國企業！</p>
            <span>以「尊」為名  成就七星級娛樂享受</span>
            <p>踏入2019年，太陽城集團將會全面革新會籍制度，創立太陽城「尊華會」，貫徹打造集團成為「綜合貴賓娛樂」企業的發展方向！這項堪稱全球首創，最全面的貴賓級會籍服務，讓客人隨時享用集團旗下各子公司的獨家產品及服務，包括高端娛樂、演唱會及影視娛樂、獨家旅遊產品、頂級餐飲、星級名牌購物各個版塊，這樣不但更能有效地整合及運用企業資源，預期更能令集團的盈收全面提升！</p>
            <span>以「創」為根  堅守積極進取精神</span>
            <p>自太陽城集團成立以來，我們一向敢於創新，敢於拼搏，展現出「忍人所不忍，行人所不能行」的驚人毅力，達至今天的卓越成就！縱然如此，我們仍不應驕傲、自滿，更要提醒自己繼續堅守敢創敢為，敢拼敢試的心，穩守業務，開拓市場，讓我們這個紮根澳門的企業，能夠站在國際舞台上，有如太陽般發光發亮！</p>
            {{! <span>稳扎澳门 回归本源</span> }}
            <p>踏入2019年，本人會繼續與大家並肩作戰，讓太陽城業務再創巔峰！</p>
            <p><h2>周焯華</h2></p>
          <h3>太陽城集團行政總裁兼董事</h3>
        </div>
      </div>
    </div>
    <!-- child company -->
    <a name="about-us-childcompany"></a>
    <div class="childcompany about-us-childcompany about-us-display">
      <section class="about-us-childcompany-section">
        <div class="wow fadeIn about-us-childcompany-section-content">
          <div class="about-us-childcompany-section-text">
            <h2 class="about-us-childcompany-section-title">集團聯營公司</h2>
            <div class="about-us-childcompany-section-detail">太陽城集團一直積極發展多元化業務，範疇涵蓋旅遊、影視娛樂、餐飲、金融、車業、拍賣等，為大眾提供不同所需要，使集團業務發展更全面。</div>
          </div>
          <!-- logo column=4-->
          <div class="childcompany-logo-column-4">
            <a href="/{{LanguageDisplay}}/companies/sun-entertainment" class="childcompany-logo-sub logo-sub-sun-entertainment"><img src="/static/imgs/Subsidiarylogo-1.png"></a>
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/" class="childcompany-logo-sub"><img src="/static/imgs/Subsidiarylogo-2.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-travel" class="childcompany-logo-sub logo-sub-sun-travel"><img src="/static/imgs/Subsidiarylogo-3.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-food" class="childcompany-logo-sub logo-sub-sun-food"><img src="/static/imgs/Subsidiarylogo-4.png"></a>
            
            <a href="/{{LanguageDisplay}}/companies/sun-automobile" class="childcompany-logo-sub logo-sub-sun-automobile"><img src="/static/imgs/Subsidiarylogo-5.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sunluxe" class="childcompany-logo-sub logo-sub-sunluxe"><img src="/static/imgs/Subsidiarylogo-6.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-sia" class="childcompany-logo-sub logo-sub-sun-sia"><img src="/static/imgs/Subsidiarylogo-7.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-financial" class="childcompany-logo-sub logo-sub-sun-financial"><img src="/static/imgs/Subsidiarylogo-8.png"></a>
            
            <a href="/{{LanguageDisplay}}/companies/sun-century" class="childcompany-logo-sub logo-sub-sun-century"><img src="/static/imgs/Subsidiarylogo-9.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-management" class="childcompany-logo-sub logo-sub-sun-management"><img src="/static/imgs/Subsidiarylogo-10.png"></a>
          </div>
        </div>
      </section>
      <div class="diamond diamond-left"></div>
      <div class="diamond diamond-right"></div>
      <div class="diamond-background"></div>
    </div>
    {{> footer }}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/aboutus.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
