<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>太陽城貴賓服務 - 太陽城集團 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.default.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/childcompany_new.css">
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    {{! <h1 class="title-for-seo">太陽城貴賓服務</h1> }}
    <div class="common-banner"> 
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">貴賓服務</h1>
      </div>
    </div>
    <!-- banner -->
    <div class="banner-box">
      <div class="wow slideInLeft banner-wrapper">
        {{! <a href="javascript:void(0);" target="_blank" class="logo-link"><img class="banner-logo" src="/static/imgs/logo-sun-vip-02.svg" alt="sun-vip"></a> }}
        <div class="banner-text">
          <p>太陽城集團提供完備的一站式尊貴服務，涵蓋澳門至海外地區，由預訂交通住宿、代辦旅遊簽證，到個人化行程安排、美食娛樂、奢華購物、專車接送等一應俱全，務求為客人度身訂造最難忘的刺激娛樂體驗！<br>
          會員更可尊享豐厚精彩的獨家優惠，於超過200家商戶刷卡消費，以積分兌換各款名貴限量禮品，務求以全方位的貼心服務，彰顯其卓爾不群的超凡身份。</p>
          <div class="sgs-box">
            <div class="sgs-icon-box">
              <i class="icon-sgs"></i>
              <i class="icon-bitmap"></i>
            </div>
            <div class="sgs-info">
              <h2 class="sgs-info-title">SGS國際服務認證</h2>
              <p>集團一直以服務為本，精益求精。繼2013年開創業界先河，通過全球最具權威性的品質驗證組織SGS Qualicert™ 的國際服務認證後，集團更於 2018年7月成為全球首家榮獲更高級別的SGS Qualicert™「7星級服務認證」的娛樂服務機構，代表本集團服務水準達國際優質水平，領先世界。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="mainImg">
        <img src="/static/imgs/sun-vip.jpg" alt="Suncity Group" />
    </div>
    <section class="latest-news diamond-bg">
      <h1 class="latest-news-title"><a href="/{{LanguageDisplay}}/news">最新消息<i class="more-button"></i></a></h1>
      <div class="slide-wrapper">
        <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-slide" id="carousel">
          {{#News}}
          <div class="slide-item">
            <a href="/{{LanguageDisplay}}/news/category/{{slug}}">
              <div class="ratio-16-9"><img src="{{square_link.url}}" class='onerror'  ></div>
              <div class="item-info">
                <p class="item-info-text">{{title}}</p>
                <div class="item-date">{{date}}</div>
                <span class="go-more">繼續閱讀</span>
              </div>
            </a>
          </div>
          {{/News}}
        </div>
      </div>
    </section>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/vender/owl.carousel.min.js"></script>
    <script src="/static/js/childcompany.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
