<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="太阳城集团{{CurrentRootCategory.Name}}{{CurrentCategoryName}}" />
    <meta name="keywords" content="太阳城集团,{{CurrentRootCategory.Name}},{{CurrentCategoryName}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>免責聲明 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/news_new.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/disclaimer.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header }}

    <!-- new -->
    <!-- banner -->
    <div class="common-banner">
      <div class="common-banner-content common-banner-entertainment">
        <img src="/static/imgs/sun-logo.svg" alt="sun-logo" class="sun-logo" />
        <h1 class="banner-title">免責聲明</h1>
      </div>
    </div>
    <!-- news -->
    <div class="news-wrapper diamond-bg">
    <h2>
      <span>網站使用條款</span>
      <p> 
        此部分載有適用於使用此網站的免責條款及使用條款。
        <p>
          閣下登入此網站或網站上的任何網頁時，已確認閣下對這些免責條款及使用條款的同意以及對這些免責條款的理解和接受。如果閣下對這   些免責條款或使用條款有任何不理解、不接受或不同意，請勿使用此網站或從中下載任何資料或材料。
        </p>  
     </p>
      <span>免責聲明</span>
      <p> 
          本網站所載之資料乃由太陽城集團（下稱&quot;集團&quot;）按「現狀」而提供的。此等資料被誠實地存載並只供公眾參考之用，並不可被依賴作任何特定用途。進入本網站存取資料的任何人，有責任遵守其有關的司法管轄區的所有適用法律和規例。任何擬對此網站的資料作出回應或依賴這些資料的人士或實體必須確保他不受任何會限制或禁止他回應或依賴此網站資料的當地規定的約束。
        <p>
          集團並無對此等資料的真確性、完整性或實時性作出任何保證或聲明，同時集團，包括旗下的所有公司、關聯公司、其高級人員、僱員、子公司、代理人、繼承人及/或受讓人，集團對本網站的所有資料或材料的無侵權、保安、準確性、完整性、適銷性、適用性、免受電腦病毒侵擾等方面作出任何保證，並一概無須以任何方式就本網站的資料傳遞或傳送失誤，不準確或錯誤對本網站使用者或任何其他人仕負任何直接或間接的責任。
        </p>  
        <p>
          集團有權隨時在其認為適當的情況下修改及更正本網站之內容，而無須預先或另行通知。
        </p>
        <p>
          集團對與本網站連結的任何其他網站或資源中的內容或設立不負任何責任。任何人進入或使用該等網站或資源須完全自行承擔風險，並受可能適用於登入或使用該等網站或資源的任何條款或條件的約束。即使集團提供連結其他網站或資源的超文本連結，集團將不被視為控制、同意、推薦、准許、擔保或介紹任何第三方或於其在其網站上提供的任何服務/產品，或與該等第三方或網站有任何形式的合作關係。集團對任何外部網站或資源所可能提供的服務、資料、材料或其他內容中存在的任何干擾、延誤、瑕疵或疏忽所造成的任何損害或損失（無論該等損害或損失是否為直接、間接、特殊、相應或附帶的）不負任何責任。
        </p>
     </p>
     <span>知識產權</span>
      <p> 
        集團或旗下的所有公司及關聯公司擁有或獲許可使用本網站展示的所有商標。
        <p>
           本網站所載述的域名、商號、商標、文字、視像及聲音內容、圖形及圖像均受有關商標和著作權的法律所保護。未經集團事先以書面明確允許，該等任何部分的域名、商號、商標、文字、視像及聲音內容、圖形及圖像均不得以任何形式或方式複製、傳遞分發，改動或使用本網站的內容作公開或商業用途。
        </p>
        <p>
            在任何情況下，如未經公司事先書面許可，使用本網站並不構成獲許可或有權使用本網站展示的任何知識產權。
        </p>
     </p>
     <span>資料的使用</span>
      <p> 
        本網站的使用者不得將本網站所提供的資料用於任何不合法的目的或以任何方式違反任何法律或法規。進入本網站存取資料的任何人，有責任遵守其有關的司法管轄區的所有適用法律和規例。
     </p>
     <span>
        適用法及管轄權的選擇
     </span>
     <p>
        這些使用條款及網站使用者與本集團間的關係將由澳門法律管轄，各方並同意受澳門法院專屬管轄。
     </p> 
    </h2>
    </div>
    </div>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
