<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>企業社會責任 - 太陽城集團 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.default.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hant.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/aboutus.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/duty.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <!-- banner -->
    <div class="common-banner">
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">企業社會責任</h1>
      </div>
    </div>
    <!-- company contribution -->
    <div class="contribution">
      <img class="hidden-heart-375" src="/static/imgs/response-heart-375.jpg">
      <div class="contribution-content">
        <div class="wow fadeIn response-text">
          <h2 class="h-one">企業貢獻</h2>
          <p>太陽城集團自2007年成立以來，一直以善盡社會責任的方式拓展及營運業務，同時亦不忘關心澳門社會需要，以促進集團及澳門持續多元發展的抱負，積極履行企業社會責任，關懷弱勢社群，支持和參與澳門各類社會慈善活動、社區活動、長者及青少年服務等，組織並鼓勵集團員工積極參與義工活動，不遺餘力，以實際行動，向社會作出回饋貢獻。</p>
        </div>
      </div>
    </div>
    <div class="activity-item white-bg">
      <div class="activity-wrapper">
        <div class="wow fadeInLeft activity-info">
          <div class="activity-img-wrapper">
            <img src="/static/imgs/icn-charity-gold.png" srcset="/static/imgs/icn-charity-gold@2x.png 2x, /static/imgs/icn-charity-gold@3x.png 3x">
            <h2 class="activity-name">慈善活動</h2>
          </div>
          <div class="activity-detail">
            <p>太陽城集團曾向本澳多個機構及有需要人士作出捐助，部份受惠機構簡列如下：</p>
            <!-- <div class="activity-column-wrapper activity-column-3">
              <ul class="activity-column">
                <li>・澳門仁慈堂</li>
                <li>・澳門同善堂</li>
                <li>・澳門明愛</li>
                <li>・澳門日報讀者公益基金會</li>
              </ul>
              <ul class="activity-column">
                <li>・澳門敬老總會</li>
                <li>・澳門IN義工團</li>
                <li>・澳門扶康會</li>
                <li>・澳門紅十字會</li>
                <li>・澳門弱智人士服務協會</li>
              </ul>
              <ul class="activity-column">
                <li>・澳門弱智人士家庭協進會</li>
                <li>・菩提長者綜合服務中心</li>
                <li>・澳門希望之源協會</li>
                <li>・澳門街坊會聯合總會</li>
                <li>・澳門扶康會</li>
              </ul>
            </div>
            <div class="activity-column-wrapper activity-column-2">
              <ul class="activity-column">
                <li>・澳門仁慈堂</li>
                <li>・澳門同善堂</li>
                <li>・澳門明愛</li>
                <li>・澳門日報讀者公益基金會</li>
                <li>・澳門敬老總會</li>
                <li>・澳門IN義工團</li>
                <li>・澳門扶康會</li>
              </ul>
              <ul class="activity-column">
                <li>・澳門紅十字會</li>
                <li>・澳門弱智人士服務協會</li>
                <li>・澳門弱智人士家庭協進會</li>
                <li>・菩提長者綜合服務中心</li>
                <li>・澳門希望之源協會</li>
                <li>・澳門街坊會聯合總會</li>
                <li>・澳門扶康會</li>
              </ul>
            </div> -->
            <ul class="activity-column-box">
              <li class="activity-column-item">澳門仁慈堂</li>
              <li class="activity-column-item">澳門同善堂</li>
              <li class="activity-column-item">澳門明愛</li>
              <li class="activity-column-item">澳門日報讀者公益基金會</li>
              <li class="activity-column-item">澳門敬老總會</li>
              <li class="activity-column-item">澳門IN義工團</li>
              <li class="activity-column-item">澳門扶康會</li>
              <li class="activity-column-item">澳門紅十字會</li>
              <li class="activity-column-item">澳門弱智人士服務協會</li>
              <li class="activity-column-item">澳門弱智人士家庭協進會</li>
              <li class="activity-column-item">菩提長者綜合服務中心</li>
              <li class="activity-column-item">澳門希望之源協會</li>
              <li class="activity-column-item">澳門街坊會聯合總會</li>
              <li class="activity-column-item">澳門扶康會</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-item brown-bg">
      <div class="activity-wrapper">
        <div class="wow fadeInLeft activity-info community-activities">
          <div class="activity-img-wrapper">
            <img src="/static/imgs/icn-helping-hands.png" srcset="/static/imgs/icn-helping-hands@2x.png 2x, /static/imgs/icn-helping-hands@3x.png 3x">
            <h2 class="activity-name">社區活動</h2>
          </div>
          <div class="activity-detail">
            <p>太陽城集團自成立以來在積極發展業務的同時，一直致力回饋社會，加強員工與社會之間的溝通，為弱勢社群獻出關懷。我們定期展開多項社區及義工活動，並組織員工積極參與，共同發揮社會責任，回饋社會。</p>
            <ul class="activity-column-box activity-column-1">
              <li class="activity-column-item">捐助仁慈堂「社服店」並組織員工參與協助派發「食物籃」予有需要家庭</li>
              <li class="activity-column-item">為澳門明愛家庭服務部之受助家庭舉辦親子活動</li>
              <li class="activity-column-item">為澳門街坊總會青頤長者綜合服務中心之長者舉辦迎新春活動</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- slide -->
    <div class="slide diamond-bg">
      <h2 class="slide-title"><a href="/{{LanguageDisplay}}/news">相關動態<i class="icon-suncity-more"></i></a></h2>
      <div class="slide-wrapper">
        <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-slide" id="carousel">
          {{#News}}
          <div class="slide-item">
            <a href="/{{LanguageDisplay}}/news/category/{{slug}}">
              <div class="ratio-16-9"><img src="{{square_link.url}}" title="{{square_link.description}}" alt="{{square_link.name}}"></div>
              <div class="item-info">
                <p class="item-info-text">{{title}}</p>
                <div class="item-date">{{date}}</div>
                <span class="go-more">繼續閱讀</span>
              </div>
            </a>
          </div>
          {{/News}}
        </div>
      </div>
    </div>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/vender/owl.carousel.min.js"></script>
    <script src="/static/js/duty.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
