<footer>
  <div class="footer-wide-frame">
    <div class="footer-links">
      <div class="footer-links-aboutus">
        <div class="footer-links-aboutus-title"><a href="/{{ LanguageDisplay }}/about-us/">集團介紹</a></div>
        <!--<div class="footer-links-aboutus-text"><a href="/{{ LanguageDisplay }}/about-us/#about-us-overview">集團簡介</a></div>
        <div class="footer-links-aboutus-text"><a href="/{{ LanguageDisplay }}/about-us/#about-us-bossword">行政總裁的話</a></div> -->
      </div>
      <div class="footer-links-childcompany">
        <div class="footer-links-childcompany-title">集團業務</div>
        <div class="footer-links-childcompany-text">
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-vip/">貴賓服務</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/">影視娛樂</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-travel/">環球旅遊</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-food/">餐飲體驗</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sunluxe/">奢華購物</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-management/">娛樂及渡假村管理</a>
        </div>
      </div>
      <div class="footer-links-pages">
        <div class="footer-links-pages-title"><a href="/{{ LanguageDisplay }}/duty">企業社會責任</a></div>
        <div class="footer-links-pages-title"><a>集團新聞中心</a></div>
        <div class="footer-links-childcompany-text">
          <a class="footer-link"  href="/{{ LanguageDisplay }}/news">新聞動態</a>
          <a class="footer-link"  href="/{{ LanguageDisplay }}/release/">新聞發佈</a>
        </div>
        <div class="footer-links-pages-title"><a href="/{{ LanguageDisplay }}/jobs-vip">就業機會</a></div>
        <div class="footer-links-pages-title"><a href="/{{ LanguageDisplay }}/grand">精彩盛事</a></div>
      </div>
     <div class="footer-links-sns">
      <div class="footer-links-sns-icons-title">關注我們</div>
        <div class="footer-links-sns-icons">
          <a href="https://www.facebook.com/suncitygroup.mo" target="_blank"><img src="/static/imgs/fb-icon.svg"></img></a>
          <a href="https://weibo.com/u/5935905623" target="_blank"><img src="/static/imgs/weibo-icon.svg"></img></a>
          <a href="javascript:void(0)" id="footer-links-sns-text-wechat-sc" style='display: inline-block;'><img src="/static/imgs/wechat-icon.svg"></img></a>
            <img src="" id="footer-links-sns-icons-pop-img"></img>
        </div>
        <div class="footer-links-sns-title">集團刊物</div>
        <div class="footer-links-sns-icons">
          <a href="http://www.1firstasia.com/" target="_blank"><img src="/static/imgs/first.png" style='width: 66.2px;
          height: 34.6px;'></img></a>
          <a href="https://www.facebook.com/1firstmagazine/" target="_blank"><img src="/static/imgs/fb-icon.svg"></img></a>
          <a href="javascript:void(0)" id="footer-links-sns-text-wechat-fm" style='display: inline-block;'><img src="/static/imgs/wechat-icon.svg"></img></a>
        </div>
      </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-contact">
      <div class="footer-contact-title">太陽城集團有限公司</div>
      <div class="footer-contact-text">24小時客戶服務熱線 | 中國內地 : <a href="tel:+8615344886600">+86 153 4488 6600</a> | 中國澳門 : <a href="tel:+85388911000">+853 8891 1000</a></div>
      <div class="footer-contact-text">澳門宋玉生廣場263號中土大廈12樓N至P座 | <a href="mailto:cs.mo@suncity-group.com">cs.mo@suncity-group.com</a></div>
      <div class="footer-contact-title">© 2018 太陽城集團有限公司版權所有 | <a href="/{{ LanguageDisplay }}/disclaimer">免責聲明</a></div>
    </div>
  </div>

  <div class="footer-fold-frame">
    <!-- 窄屏幕折叠样式 -->
    <div class="footer-fold-links">
      <div class="footer-fold-links-aboutus">
        <div class="footer-fold-links-aboutus-title">
          <span>集團介紹</span>
          {{! <img src="/static/imgs/nav-arrow-down.svg"></img> }}
        </div>
        <!-- <div class="footer-fold-links-aboutus-group">
          <div class="footer-fold-links-aboutus-text"><a href="/{{ LanguageDisplay }}/about-us/#about-us-overview">集團簡介</a></div>
          <div class="footer-fold-links-aboutus-text"><a href="/{{ LanguageDisplay }}/about-us/#about-us-bossword">行政總裁的話</a></div>
        </div> -->
      </div>
      <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-childcompany">
        <div class="footer-fold-links-childcompany-title">
          <span>集團業務</span>
          <img src="/static/imgs/nav-arrow-down.svg"></img>
        </div>
        <div class="footer-fold-links-childcompany-group">
         <div class="footer-fold-links-childcompany-text"> <a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-vip/">貴賓服務</a></div>
          <div class="footer-fold-links-childcompany-text"><a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/">影視娛樂</a></div>
          <div class="footer-fold-links-childcompany-text"><a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-food/">餐飲體驗</a></div>
          <div class="footer-fold-links-childcompany-text"><a href="/{{ LanguageDisplay }}/companies/sun-travel/">環球旅遊</a></div>
          <div class="footer-fold-links-childcompany-text"><a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sunluxe/">奢華購物</a></div>
          <div class="footer-fold-links-childcompany-text"><a class="footer-link"  href="/{{ LanguageDisplay }}/companies/sun-management/">娛樂及度假村管理</a></div>
        </div>
      </div>
        <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-news">
        <div class="footer-fold-links-news-title">
          <a href="/{{ LanguageDisplay }}/duty">企業社會責任</a>
        </div>
      </div>
      <div class="footer-fold-divider"></div>
       <div class="footer-fold-links-childcompany">
        <div class="footer-fold-links-childcompany-news">
          <span>集團新聞中心</span>
          <img src="/static/imgs/nav-arrow-down.svg"></img>
        </div>
        <div class="footer-fold-links-childcompany-group-news">
          <div class="footer-fold-links-childcompany-text"> <a class="footer-link"  href="/{{ LanguageDisplay }}/news">新聞動態</a></div>
          <div class="footer-fold-links-childcompany-text"><a class="footer-link"  href="/{{ LanguageDisplay }}/release">新聞發佈</a></div>
        </div>
      <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-duty">
        <div class="footer-fold-links-news-title">
          <a href="/{{ LanguageDisplay }}/grand">精彩盛事</a>
        </div>
      </div>
      <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-jobs">
        <div class="footer-fold-links-news-title">
          <a href="/{{ LanguageDisplay }}/jobs-vip">就業機會</a>
        </div>
      </div>
      <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-sns">
      <div class="footer-fold-links-sns-title">
        <span>關注我們</span>
      </div>
      <div class="footer-fold-links-sns-icon">
        <a href="https://www.facebook.com/suncitygroup.mo" target="_blank"><img src="/static/imgs/fb-icon.svg"></img></a>
        <a href="https://weibo.com/u/5935905623" target="_blank"><img src="/static/imgs/weibo-icon.svg"></img></a>
        <a href="javascript:void(0)" id="footer-fold-links-sns-text-wechat-sc" style='display: inline-block;'><img src="/static/imgs/wechat-icon.svg"></img></a>
        <div class="footer-fold-links-sns-icons-pop">
          <img src="" id="footer-fold-links-sns-icons-pop-img"></img>
        </div>
      </div>
    </div>
      <div class="footer-fold-divider"></div>
      <div class="footer-fold-links-sns">
      <div class="footer-fold-links-sns-title">
        <span>集團刊物</span>
      </div>
      <div class="footer-fold-links-sns-icon">
        <a href="http://www.1firstasia.com/" target="_blank"><img src="/static/imgs/first.png" style='width: 66.2px;
          height: 34.6px;'></img></a>
        <a href="https://www.facebook.com/1firstmagazine" target="_blank"><img src="/static/imgs/fb-icon.svg"></img></a>
        <a href="javascript:void(0)" id="footer-fold-links-sns-text-wechat-fm" style='display: inline-block;'><img src="/static/imgs/wechat-icon.svg"></img></a>
        <div class="footer-fold-links-sns-icons-pop">
          <img src="" id="footer-fold-links-sns-icons-pop-img"></img>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-fold-divider"></div>
    <div class="footer-fold-contact">
      <div class="footer-fold-contact-title">太陽城集團有限公司</div>
      <div class="footer-fold-contact-text">24小時客戶服務熱線</div>
      <div class="footer-fold-contact-text">| 中國內地 : <a href="tel:+8615344886600">+86 153 4488 6600</a></div>
      <div class="footer-fold-contact-text">| 中國澳門 : <a href="tel:+85388911000">+853 8891 1000</a></div>
      <div class="footer-fold-contact-text">澳門宋玉生廣場263號中土大廈12樓N至P座</div>
      <div class="footer-fold-contact-text">| <a href="mailto:cs.mo@suncity-group.com">cs.mo@suncity-group.com</a></div>
      <div class="footer-fold-contact-title footer_text">© 2018 太陽城集團有限公司版權所有</div>
      <div class="footer-fold-contact-title footer_text">| <a href="/{{ LanguageDisplay }}/disclaimer">免責聲明</a></div>
    </div>
  </div>

  <div class="footer-to-top">
    <img src="/static/imgs/up-button.svg">
  </div>
</footer>
