<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>集团简介 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/icn.aniamte.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hans.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/aboutus.css" />
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <!-- banner -->
    <div class="common-banner"> 
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">集团介绍</h1>
      </div>
    </div>
    <!-- overview -->
    <a name="about-us-overview"></a>
    <section class="about-us-section">
      <div class="wow fadeIn about-us-section-content">
        <div class="about-us-section-text">
          <h2 class="about-us-section-title">关于太阳城集团</h2>
          <div class="about-us-section-detail">
              <p>太阳城集团始创于2007年。成立之初，集团主力为客户提供尊贵娱乐服务，随着业务急速发展，太阳城会的足迹已遍及澳门众多星级酒店及度假村，更先后在马尼拉、墨尔本、悉尼、首尔、仁川、金边、岘港等大城市，建立专属太阳城会，正式冲出亚洲!</p>
              <br>
              <p>一直以来，太阳城集团坚守「多元创新，积极进取」的精神，全力开拓高端娱乐及相关产品服务，并设立全球首屈一指的尊贵会籍，为会员一站式打造极致娱乐、旅游、餐饮、购物及影视享受。时至今日，我们的业务已日趋多元化，服务范畴遍及各行各业，全力打造涵盖寰宇旅游、电影制作、演唱会及活动策划、餐饮、奢侈品等领域的一站式娱乐平台。</p>
              <br>
              <p>太阳城集团扎根澳门，锐意发展国际化娱乐业务，开拓更广阔市场。未来，我们将会创建更多元化的高端娱乐服务，吸纳更多尊贵会员，决心将业务扩展至全球每个角落，在国际舞台绽放耀眼光芒！</p>
              <br>
          </div>
        </div>
        <div class="about-us-section-img">
          <img src="/static/imgs/suncity-logo-web-bg-map-01@2x.png"/>
        </div>
      </div>
    </section>
    <!-- bossword -->
    <a name="about-us-bossword"></a>
    <div class="bossword">
      <div class="bossword-wrapper">
        <img class="hidden-boss-375" src="/static/imgs/about-us-boss-768.jpg">
        <div class="wow fadeIn bossword-text">
          <h2 class="h-one">行政总裁的话</h2>
            <p>「逆境是我们的『好朋友』！如果你敢于把握，勇于突破，『逆境』将助你取得更伟大的成就！」</p>
            <span>以「挑战」为动力全面开拓多元市场</span>
            <p>太阳城集团于过去一年是丰盛的一年！我们先后在澳门、柬埔寨、菲律宾及澳大利亚新增多个太阳城会，全力拓展更大版图，造就盈利稳步上扬。在2018年9月，太阳城集团更荣获SGS Qualicert™颁发「7星级服务认证」，成为全球首家取得的这项荣誉的企业！此外，我们更成功争取连续五届冠名赞助「澳门格兰披治大赛车」，让集团成为蜚声国际的跨国企业！</p>
            <span>以「尊」为名成就七星级娱乐享受</span>
            <p>踏入2019年，太阳城集团将会全面革新会籍制度，创立太阳城「尊华会」，贯彻打造集团成为「综合贵宾娱乐」企业的发展方向！这项堪称全球首创，最全面的贵宾级会籍服务，让客人随时享用集团旗下各子公司的独家产品及服务，包括高端娱乐、演唱会及影视娱乐、独家旅游产品、顶级餐饮、星级名牌购物各个版块，这样不但更能有效地整合及运用企业资源，预期更能令集团的盈收全面提升！</p>
            <span>以「创」为根坚守积极进取精神</span>
            <p>自太陽城集團成立以來，我們一向敢於創新，敢於拼搏，展現出「忍人所不忍，行人所不能行」的驚人毅力，達至今天的卓越成就！縱然如此，我們仍不應驕傲、自滿，更要提醒自己繼續堅守敢創敢為，敢拼敢試的心，穩守業務，開拓市場，讓我們這個紮根澳門的企業，能夠站在國際舞台上，有如太陽般發光發亮！</p>
            {{! <span>稳扎澳门 回归本源</span> }}
            <p>踏入2019年，本人会继续与大家并肩作战，让太阳城业务再创巅峰！</p>
            <p><h2>周焯华</h2></p>
          <h3>太阳城集团行政总裁兼董事</h3>
        </div>
      </div>
    </div>
    <!-- child company -->
    <a name="about-us-childcompany"></a>
    <div class="childcompany about-us-childcompany about-us-display">
      <section class="about-us-childcompany-section">
        <div class="wow fadeIn about-us-childcompany-section-content">
          <div class="about-us-childcompany-section-text">
            <h2 class="about-us-childcompany-section-title">集团联营公司</h2>
            <div class="about-us-childcompany-section-detail">太阳城集团一直积极发展多元化业务，范畴涵盖旅游、影视娱乐、餐饮、金融、车业、拍卖等，为大众提供不同所需要，使集团业务发展更全面。</div>
          </div>
          <!-- logo column=4-->
          <div class="childcompany-logo-column-4">
            <a href="/{{LanguageDisplay}}/companies/sun-entertainment" class="childcompany-logo-sub logo-sub-sun-entertainment"><img src="/static/imgs/Subsidiarylogo-1.png"></a>
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/" class="childcompany-logo-sub"><img src="/static/imgs/Subsidiarylogo-2.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-travel" class="childcompany-logo-sub logo-sub-sun-travel"><img src="/static/imgs/Subsidiarylogo-3.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-food" class="childcompany-logo-sub logo-sub-sun-food"><img src="/static/imgs/Subsidiarylogo-4.png"></a>
            
            <a href="/{{LanguageDisplay}}/companies/sun-automobile" class="childcompany-logo-sub logo-sub-sun-automobile"><img src="/static/imgs/Subsidiarylogo-5.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sunluxe" class="childcompany-logo-sub logo-sub-sunluxe"><img src="/static/imgs/Subsidiarylogo-6.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-sia" class="childcompany-logo-sub logo-sub-sun-sia"><img src="/static/imgs/Subsidiarylogo-7.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-financial" class="childcompany-logo-sub logo-sub-sun-financial"><img src="/static/imgs/Subsidiarylogo-8.png"></a>
            
            <a href="/{{LanguageDisplay}}/companies/sun-century" class="childcompany-logo-sub logo-sub-sun-century"><img src="/static/imgs/Subsidiarylogo-9.png"></a>
            <a href="/{{LanguageDisplay}}/companies/sun-management" class="childcompany-logo-sub logo-sub-sun-management"><img src="/static/imgs/Subsidiarylogo-10.png"></a>
          </div>
        </div>
      </section>
      <div class="diamond diamond-left"></div>
      <div class="diamond diamond-right"></div>
      <div class="diamond-background"></div>
    </div>
    {{> footer }}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/aboutus.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
