<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="太阳城集团{{CurrentRootCategory.Name}}{{CurrentCategoryName}}" />
    <meta name="keywords" content="太阳城集团,{{CurrentRootCategory.Name}},{{CurrentCategoryName}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>免责声明 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/news_new.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/disclaimer.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{> header }}

    <!-- new -->
    <!-- banner -->
    <div class="common-banner">
      <div class="common-banner-content">
        <img src="/static/imgs/sun-logo.svg" alt="sun-logo" class="sun-logo" />
        <h1 class="banner-title">免责声明</h1>
      </div>
    </div>
    <!-- news -->
    <div class="news-wrapper diamond-bg">
    <h2>
      <span>网站使用条款</span>
      <p> 
          此部分载有适用于使用此网站的免责条款及使用条款。
        <p>
          阁下登入此网站或网站上的任何网页时，已确认阁下对这些免责条款及使用条款的同意以及对这些免责条款的理解和接受。如果阁下对这些免责条款或使用条款有任何不理解、不接受或不同意，请勿使用此网站或从中下载任何数据或材料。
        </p>  
     </p>
      <span>免责声明</span>
      <p> 
          本站点所载之数据乃由太阳城集团（下称“集团”）按「现状」而提供的。此等数据被诚实地存载并只供公众参考之用，并不可被依赖作任何特定用途。进入本站点存取数据的任何人，有责任遵守其有关的司法管辖区的所有适用法律和规例。任何拟对此网站的数据作出响应或依赖这些数据的人士或实体必须确保他不受任何会限制或禁止他响应或依赖此网站数据的当地规定的约束。
        <p>
          集团并无对此等数据的真确性、完整性或实时性作出任何保证或声明，同时集团，包括旗下的所有公司、关联公司、其高级人员、雇员、子公司、代理人、继承人及/或受让人，集团对本站点的所有数据或材料的无侵权、保安、准确性、完整性、适销性、适用性、免受电脑病毒侵扰等方面作出任何保证，并一概无须以任何方式就本站点的数据传递或传送失误，不准确或错误对本站点使用者或任何其他人仕负任何直接或间接的责任。
        </p>  
        <p>
          
          集团有权随时在其认为适当的情况下修改及更正本网站之内容，而无须预先或另行通知。  </p>
        <p>
          集团对与本站点连接的任何其他网站或资源中的内容或设立不负任何责任。任何人进入或使用该等网站或资源须完全自行承担风险，并受可能适用于登入或使用该等网站或资源的任何条款或条件的约束。即使集团提供连接其他网站或资源的超文本连接，集团将不被视为控制、同意、推荐、准许、担保或介绍任何第三方或于其在其网站上提供的任何服务/产品，或与该等第三方或网站有任何形式的合作关系。集团对任何外部网站或资源所可能提供的服务、数据、材料或其他内容中存在的任何干扰、延误、瑕疵或疏忽所造成的任何损害或损失（无论该等损害或损失是否为直接、间接、特殊、相应或附带的）不负任何责任。
        </p>
     </p>
     <span>知识产权</span>
        <p> 
           集团或旗下的所有公司及关联公司拥有或获许可使用本站点展示的所有商标。
        <p>
           本站点所载述的域名、商号、商标、文字、视像及声音内容、图形及图象均受有关商标和著作权的法律所保护。未经集团事先以书面明确允许，该等任何部分的域名、商号、商标、文字、视像及声音内容、图形及图象均不得以任何形式或方式复制、传递分发，改动或使用本站点的内容作公开或商业用途。
        </p>
        <p>
            在任何情况下，如未经公司事先书面许可，使用本站点并不构成获许可或有权使用本站点展示的任何知识产权。
        </p>
     </p>
     <span>资料的使用</span>
      <p> 
        本站点的使用者不得将本站点所提供的数据用于任何不合法的目的或以任何方式违反任何法律或法规。进入本站点存取数据的任何人，有责任遵守其有关的司法管辖区的所有适用法律和规例。
     </p>
     <span>
        适用法及管辖权的选择
     </span>
     <p> 
       这些使用条款及网站使用者与本集团间的关系将由澳门法律管辖，各方并同意受澳门法院专属管辖。
     </p> 
    </h2>
    </div>
    </div>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
