<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>企业社会责任 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.default.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/font-hans.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/aboutus.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="stylesheet" href="/static/css/duty.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <!-- banner -->
    <div class="common-banner"> 
      <div class="common-banner-content">
        <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
        <h1 class="common-banner-title">企业社会责任</h1>
      </div>
    </div>
    <!-- company contribution -->
    <div class="contribution">
      <img class="hidden-heart-375" src="/static/imgs/response-heart-375.jpg">
      <div class="contribution-content">
        <div class="wow fadeIn response-text">
          <h2 class="h-one">企业贡献</h2>
          <p>太阳城集团自2007年成立以来，一直以善尽社会责任的方式拓展及营运业务，同时亦不忘关心澳门社会需要，以促进集团及澳门持续多元发展的抱负，积极履行企业社会责任，关怀弱势社群，支持和参与澳门各类社会慈善活动、社区活动、长者及青少年服务等，组织并鼓励集团员工积极参与义工活动，不遗余力，以实际行动，向社会作出回馈贡献。</p>
        </div>
      </div>
    </div>
    <div class="activity-item white-bg">
      <div class="activity-wrapper">
        <div class="wow fadeInLeft activity-info">
          <div class="activity-img-wrapper">
            <img src="/static/imgs/icn-charity-gold.png" srcset="/static/imgs/icn-charity-gold@2x.png 2x, /static/imgs/icn-charity-gold@3x.png 3x">
            <h2 class="activity-name">慈善活动</h2>
          </div>
          <div class="activity-detail">
            <p>太阳城集团曾向本澳多个机构及有需要人士作出捐助，部份受惠机构简列如下：</p>
           <!-- <div class="activity-column-wrapper activity-column-3">
              <ul class="activity-column">
                <li>・澳门仁慈堂</li>
                <li>・澳门同善堂</li>
                <li>・澳门明爱</li>
                <li>・澳门日报读者公益基金会</li>
              </ul>
              <ul class="activity-column">
                <li>・澳门敬老总会</li>
                <li>・澳门IN义工团</li>
                <li>・澳门扶康会</li>
                <li>・澳门红十字会</li>
                <li>・澳门弱智人士服务协会</li>
              </ul>
              <ul class="activity-column">
                <li>・澳门弱智人士家庭协进会</li>
                <li>・菩提长者综合服务中心</li>
                <li>・澳门希望之源协会</li>
                <li>・澳门街坊会联合总会</li>
                <li>・澳门扶康会</li>
              </ul>
            </div>
            <div class="activity-column-wrapper activity-column-2">
              <ul class="activity-column">
                <li>・澳门仁慈堂</li>
                <li>・澳门同善堂</li>
                <li>・澳门明爱</li>
                <li>・澳门日报读者公益基金会</li>
                <li>・澳门敬老总会</li>
                <li>・澳门IN义工团</li>
                <li>・澳门扶康会</li>
              </ul>
              <ul class="activity-column">
                <li>・澳门红十字会</li>
                <li>・澳门弱智人士服务协会</li>
                <li>・澳门弱智人士家庭协进会</li>
                <li>・菩提长者综合服务中心</li>
                <li>・澳门希望之源协会</li>
                <li>・澳门街坊会联合总会</li>
                <li>・澳门扶康会</li>
              </ul>
            </div>
          </div> -->
          <!-- 原有的需求里列表中的项目，在不同分辨率，排序不同，故使用了不同的元素。新调整排序一致，不再需要之前的方法 -->
          <ul class="activity-column-box">
            <li class="activity-column-item">澳门仁慈堂</li>
            <li class="activity-column-item">澳门同善堂</li>
            <li class="activity-column-item">澳门明爱</li>
            <li class="activity-column-item">澳门日报读者公益基金会</li>
            <li class="activity-column-item">澳门敬老总会</li>
            <li class="activity-column-item">澳门IN义工团</li>
            <li class="activity-column-item">澳门扶康会</li>
            <li class="activity-column-item">澳门红十字会</li>
            <li class="activity-column-item">澳门弱智人士服务协会</li>
            <li class="activity-column-item">澳门弱智人士家庭协进会</li>
            <li class="activity-column-item">菩提长者综合服务中心</li>
            <li class="activity-column-item">澳门希望之源协会</li>
            <li class="activity-column-item">澳门街坊会联合总会</li>
            <li class="activity-column-item">澳门扶康会</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="activity-item brown-bg">
      <div class="activity-wrapper">
        <div class="wow fadeInLeft activity-info community-activities">
          <div class="activity-img-wrapper">
            <img src="/static/imgs/icn-helping-hands.png" srcset="/static/imgs/icn-helping-hands@2x.png 2x, /static/imgs/icn-helping-hands@3x.png 3x">
            <h2 class="activity-name">社区活动</h2>
          </div>
          <div class="activity-detail">
            <p>太阳城集团自成立以来在积极发展业务的同时，一直致力回馈社会，加强员工与社会之间的沟通，为弱势社群献出关怀。我们定期展开多项社区及义工活动，并组织员工积极参与，共同发挥社会责任，回馈社会。</p>
            <ul class="activity-column-box activity-column-1">
              <li class="activity-column-item">捐助仁慈堂「社服店」并组织员工参与协助派发「食物篮」予有需要家庭</li>
              <li class="activity-column-item">为澳门明爱家庭服务部之受助家庭举办亲子活动</li>
              <li class="activity-column-item">为澳门街坊总会青颐长者综合服务中心之长者举办迎新春活动</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- slide -->
    <div class="slide diamond-bg">
      <h2 class="slide-title"><a href="/{{LanguageDisplay}}/news">相关动态<i class="icon-suncity-more"></i></a></h2>
      <div class="slide-wrapper">
        <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-slide" id="carousel">
          {{#News}}
          <div class="slide-item">
            <a href="/{{LanguageDisplay}}/news/category/{{slug}}">
              <div class="ratio-16-9"><img src="{{square_link.url}}" title="{{square_link.description}}" alt="{{square_link.name}}"></div>
              <div class="item-info">
                <p class="item-info-text">{{title}}</p>
                <div class="item-date">{{date}}</div>
                <span class="go-more">继续阅读</span>
              </div>
            </a>
          </div>
          {{/News}}
        </div>
      </div>
    </div>
    {{> footer}}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/vender/owl.carousel.min.js"></script>
    <script src="/static/js/duty.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
