<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
  <meta http-equiv="Content-Language" content="zh-HK">
  <title>{{CurrentRootCategory.Name}} - 瞩目盛事 - 太阳城集团 SUNCITYGROUP</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/static/css/owl.theme.default.css" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <link rel="stylesheet" href="/static/css/animate.css" />
  <link rel="stylesheet" href="/static/css/event_grandprix.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
<!-- End Google Tag Manager (noscript) -->
  {{> header }}
  <!-- banner -->
  <div class="common-banner"> 
    <div class="common-banner-content">
      <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
      <h1 class="common-banner-title">{{CurrentRootCategory.Name}}</h1>
    </div>
  </div>
  <div class="main-content">
    <section class="video-wrapper">
      <!-- 原版网页上提供的视频尺寸为18:7，但设置显示区域尺寸为 16:9；新设计稿显示尺寸为16:8.3。关于视频要如何显示，需要确认 -->
      <!-- 此外，视频播放是否使用插件，是否静音播放，是否循环播放，是否自动播放。 -->
      <!-- autoplay="true -->
      <video src="{{VideoUrl}}" id="videoDom" poster="{{PosterUrl}}" preload="auto" class="video-dom"></video>
    </section>
    <section class="countdown-wrapper">
      <div class="countdown-content">
        <h3 class="countdown-subtitle">{{CountDown.Subtitle}}</h3>
        <h2 class="countdown-title">{{CountDown.Title}}</h2>
        <div class="countdown">
          <div class="wow zoomIn number-wrapper">
            <span class="number" id="days">00</span>
            <span>天</span>
          </div>
          <div class="wow zoomIn number-wrapper">
            <span class="number" id="hours">00</span>
            <span>小时</span>
          </div>
          <div class="wow zoomIn number-wrapper">
            <span class="number" id="minutes">00</span>
            <span>分钟</span>
          </div>
          <div class="wow zoomIn number-wrapper">
            <span class="number" id="seconds">00</span>
            <span>秒</span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <img src="{{CompetitionPoster.Url}}" alt="{{CompetitionPoster.Alt}}" class="competition-poster">
    </section>
    <section class="ticket-wrapper diamond-bg">
      <div class="section-content-wrapper">
        <h2 class="section-title">{{TicketInfo.Title}}</h2>
        <p class="ticket-info-date">{{TicketInfo.DateReservation}}</p>
        <p class="ticket-info-date">{{TicketInfo.DateStay}}</p>
        <ul class="ticket-list">
          {{#TicketInfo.List}}
          <li class="ticket-item">
            <div class="ticket-icon-wrap">
              <img src="{{Icon.Url}}" alt="{{Icon.Alt}}">
            </div>
            <h3 class="ticket-title">{{Title}}</h3>
            <p class="fare-info">{{{Fare}}}</p>
            <p class="ticket-tip">{{{TicketTip}}}</p>
            <ul class="ticket-dateil-wrapper">
              {{#DetailInfo}}
              <li class="ticket-dateil">{{{.}}}</li>
              {{/DetailInfo}}
            </ul>
            {{#TelephoneNumber}}
            <div class="telephone-info">
              <p class="telephone-bumber">{{TelephoneNumberInfo}}</p>
              <p class="telephone-bumber"><a href="tel:{{TelephoneNumber}}">{{TelephoneNumber}}</a></p>
            </div>
            {{/TelephoneNumber}} {{#OrderUrl}}
            <a href="{{OrderUrl}}" target="_blank" class="img-btn">立即订购
            </a> {{/OrderUrl}}
          </li>
          {{/TicketInfo.List}}
        </ul>
      </div>
    </section>
    <section class="slide-wrapper section-interval tidbit">
      <div class="section-content-wrapper">
        <h3 class="slide-title">{{Tidbit.Title}}</h3>
        <div class="view-wrapper">
          <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-list" id="carousel">
            {{#Tidbit.List}}
            <div class="ratio-16-9"><img src="{{Url}}" alt="{{Alt}}" class="tidbit-item" width="335"></div>
            {{/Tidbit.List}}
          </div>
        </div>
      </div>
    </section>
    {{#EventFocus.Show}}
    <section class="slide-wrapper event-focus event-focus">
      <div class="section-content-wrapper">
        <h3 class="slide-title">相关动态</h3>
        <div class="view-wrapper">
          <div class="owl-carousel owl-theme owl-loaded owl-drag childCompany-list" id="carousel2">
            {{#EventFocus.List}}
            <div class="event-focus-item">
              <a href="">
                <div class="ratio-16-9"><img src="{{CoverLink.Url}}" alt="{{CoverLink.Description}}"></div>
                <div class="event-focus-item-info">
                  <p class="item-info-title">{{Title}}</p>
                  <div class="event-date">{{Date}}</div>
                  <span class="continue-reading">继续阅读</span>
                </div>
              </a>
            </div>
            {{/EventFocus.List}}
          </div>
        </div>
      </div>
    </section>
    {{/EventFocus.Show}}
    <section class="runway-wrapper section-interval">
      <div class="section-content-wrapper">
        <img src="/static/imgs/events/route-map-3-140.png" alt="route-map" class="runway-img">
        <div class="runway-info">
          <h2 class="section-title">东望洋跑道</h2>
          <h3 class="section-subtitle">致命的吸引力 ·明星车手的摇篮</h3>
          <p class="runway-length">总长度： 3.8英里（6.2公里）
            <br />赛道最窄阔度： 22.8英呎（7米）</p>
          <p class="runway-detail">混合著葡式及现代建筑的街道上包含了高速的直路和迂回的急弯，被公认为世界上其中一条对车手有极高要求的赛道。东望洋赛道的山路赛段极具挑战，高速直路驶入葡京弯令人热血沸腾，加上澳门格兰披治大赛的竞争激烈，成为许多渴望晋级一级方程式车手的必经之路。</p>
        </div>
      </div>
    </section>
    <section class="diamond-bg runway-focus">
      <div class="section-content-wrapper">
        <h2 class="runway-focus-title">大看台</h2>
        <h3 class="runway-focus-subtitle">大赛中的主看台，于跑道的起点及终点位置，在众看台中最能感受赛车的紧张刺激气氛。大看台的座位居高临下，在比赛初段清楚观赏各车手起步的冲劲，冲线一刻尽情为车手给予掌声与欢呼声，享受无与伦比的国际赛车盛事。</h3>
        <ul class="runway-bends">
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第一弯 | 文华东方弯</p>
              <p class="bend-describe">全场最高速的弯</p>
            </div>
            <p class="bend-detail">
              原名游艇会弯是起步后到达的第一个弯角，多年前是澳门游艇会的旧址。澳门游艇会现已迁往青洲。现今坐立于该角的澳门文华东方酒店，故现命名为文华东方弯。文华东方弯亦是全场最高速的弯，在财神酒店澳门香港埠际赛中最高速时速达200公里，在三级方程式赛车更达至时速260公里。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第二弯 | 葡京弯</p>
              <p class="bend-describe">各车手发挥竞赛实力的位置</p>
            </div>
            <p class="bend-detail">
              葡京弯是紧接著文华东方弯，因位置近于葡京酒店而命名。过了高速的文华东方弯后，车手们为争先转入葡京弯；往往发生险象环生的多车连环相撞的意外。所以此弯最能让各车手发挥竞赛实力及用尽战驱的制动性能。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第三弯 | 嘉思栏马路弯</p>
              <p class="bend-describe">争取时间的一刻</p>
            </div>
            <p class="bend-detail">
              从嘉思栏马路弯开始是上斜的路段。车手为争取时间，由离开葡京弯后便会快速冲上这上斜路段。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第四弯 | 产房弯</p>
              <p class="bend-describe">最具特式的多个连接弯路段</p>
            </div>
            <p class="bend-detail">
              产房弯以澳门的妇产医院命名。产房弯开始就是东望洋跑道最具特式的多个连接弯路段，刺激非常。车手们为求用尽赛道的每一分一寸，而令赛车非常紧贴围栏；场面惊险万分。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第五弯 | 海角游魂弯</p>
              <p class="bend-describe">转向达180度的左弯</p>
            </div>
            <p class="bend-detail">
              海角游魂弯以澳门的七大峰之一命名，是个颇长并转向达180度的左弯。赛道狭窄之余亦因长弯道，而考验车手们掌控油门的能力与车轮的差速装置的能力。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第六弯 | 发夹弯</p>
              <p class="bend-describe">又称死亡之弯</p>
            </div>
            <p class="bend-detail">
              发夹弯是本赛道的特别地方之一，狭窄的程度在一众赛事中数一数二。亦由于此路段极为狭窄，赛会规定各车手绝不能在此路段超车，以减低意外发生之可能。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第七弯 | 渔翁弯</p>
              <p class="bend-describe">考验车手极精准的入弯角度</p>
            </div>
            <p class="bend-detail">
              在极速上仅次于文华东方弯的渔翁弯要求车手极精准的入弯角度， 而使战车能以高速进入接下来的水塘北角弯。
            </p>
          </li>
          <li class="bend">
            <div class="bend-name-wrapper">
              <p class="bend-name">第八弯 | 水塘北角弯</p>
              <p class="bend-describe">争夺冲线夺冠</p>
            </div>
            <p class="bend-detail">
              东望洋跑道最后的水塘北角弯，车手们会为准备冲线夺冠或痛快的在文华东方弯上飞驰。他们都在水塘北角弯比试一番， 争夺更佳的行车路线以极速飞往格仔旗。
            </p>
          </li>
        </ul>
        <div class="runway-end">
          在最后一弯后，便是各车手冲刺的时刻。观众于此目送车手起步，亦在此迎接车手冲线，一起分享胜利的喜悦。
        </div>
      </div>
      <ul class="car-racing">
        <li class="car-racing-item">
          <img class="car-racing-img" src="/static/imgs/events/f-3-x-1000.jpg" srcset="/static/imgs/events/f-3-x-1000@2x.jpg 2x,
                   /static/imgs/events/f-3-x-1000@3x.jpg 3x" alt="f-3-x-1000">
          <img class="car-racing-img-hover" src="/static/imgs/events/f-3-content-2.jpg" srcset="/static/imgs/events/f-3-content-2@2x.jpg 2x,
         /static/imgs/events/f-3-content-2@3x.jpg 3x" alt="f-3-x-1000">
        </li>
        <li class="car-racing-item">
          <img class="car-racing-img" src="/static/imgs/events/carx-1000.jpg" srcset="/static/imgs/events/carx-1000@2x.jpg 2x,
                   /static/imgs/events/carx-1000@3x.jpg 3x" alt="carx-1000">
          <img class="car-racing-img-hover" src="/static/imgs/events/car-content-t-cv-2.jpg" srcset="/static/imgs/events/car-content-t-cv-2@2x.jpg 2x,
         /static/imgs/events/car-content-t-cv-2@3x.jpg 3x" alt="car-content-t-cv-2">
        </li>
        <li class="car-racing-item">
          <img class="car-racing-img" src="/static/imgs/events/motorcyclex-1000.jpg" srcset="/static/imgs/events/motorcyclex-1000@2x.jpg 2x,
                   /static/imgs/events/motorcyclex-1000@3x.jpg 3x" alt="motorcyclex-1000">
          <img class="car-racing-img-hover" src="/static/imgs/events/motorcycle-content-tc-2017.jpg" srcset="/static/imgs/events/motorcycle-content-tc-2017@2x.jpg 2x,
         /static/imgs/events/motorcycle-content-tc-2017@3x.jpg 3x" alt="motorcycle-content-tc-2017">
        </li>
        <li class="car-racing-item">
          <img class="car-racing-img" src="/static/imgs/events/scooterx-1000.jpg" srcset="/static/imgs/events/scooterx-1000@2x.jpg 2x,
                   /static/imgs/events/scooterx-1000@3x.jpg 3x" alt="scooterx-1000">
          <img class="car-racing-img-hover" src="/static/imgs/events/scooter-content-t-cv-2.jpg" srcset="/static/imgs/events/scooter-content-t-cv-2@2x.jpg 2x,
         /static/imgs/events/scooter-content-t-cv-2@3x.jpg 3x" alt="scooter-content-t-cv-2">
        </li>
      </ul>
    </section>
  </div>
  {{> footer}}
  <div class="element_to_pop_up">
    <div class="bigpic-header-wrapper">
      <span class="btn-close">
        <img src="/static/imgs/bigpic-close.svg" />
      </span>
    </div>
    <img src="" />
  </div>
  <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
  <script src="/static/js/vender/wow.min.js"></script>
  <script src="/static/js/vender/owl.carousel.min.js"></script>
  <script src="/static/js/vender/bpopup.min.js"></script>
  <script src="/static/js/event_grandprix.js"></script>
  <script>
  document.getElementById("videoDom").volume = 0;
  var endTime = parseInt("{{EndTime}}");
  StartCountdown(endTime);
  document.getElementById("videoDom").onclick = function () {
    this.play();
  };
  </script>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/footer.js"></script>
  <script src="/static/js/vender/utility.js"></script>
  <script src="/static/js/hreflang.js"></script>
</body>

</html>
