<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
    <meta http-equiv="Content-Language" content="zh-HK">
    <title>太阳城集团 - 太阳城集团 SUNCITYGROUP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="/static/css/owl.carousel.min.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/owl.theme.default.css?v=1561444418466" /> -->
    <link rel="stylesheet" href="/static/css/base.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/font-hans.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/header.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/index.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/index_new.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/animate.css?v=1561444418466" />
    <link rel="stylesheet" href="/static/css/footer.css?v=1561444418466" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <!-- End Google Tag Manager (noscript) -->
    {{> header }}
    <!-- change -->
    <!-- class in index_new.css -->
    
    <div class="index-banner-wrapper">
        <div class="ts">
            <ul class="ts-ul">
                <li class="ts-ul-li1"><a href='/{{ LanguageDisplay }}/companies/sun-vip/'><img src="/static/imgs/name1.png" alt="" class="banner-item-bg no-click"><b><p>贵宾服务</p></b></a></li>
                <li class="ts-ul-li2"><a href='/{{ LanguageDisplay }}/companies/sun-entertainment-concert/'><img src="/static/imgs/name2.png" alt="" class="banner-item-bg no-click"><b><p>影视娱乐</p></b></a></li>
                <li class="ts-ul-li3"><a href='/{{ LanguageDisplay }}/companies/sun-travel/'><img src="/static/imgs/name3.jpg" alt="" class="banner-item-bg no-click"><b><p>环球旅游</p></b></a></li>
                <li class="ts-ul-li4"><a href='/{{ LanguageDisplay }}/companies/sun-food/'><img src="/static/imgs/name4.png" alt="" class="banner-item-bg no-click"><b><p>餐饮体验</p></b></a></li>
                <li class="ts-ul-li5"><a href='/{{ LanguageDisplay }}/companies/sunluxe/'><img src="/static/imgs/name5.png" alt="" class="banner-item-bg no-click"><b><p>奢华购物</p></b></a></li>
                <li class="ts-ul-li6"><a href='/{{ LanguageDisplay }}/companies/sun-management/'><img src="/static/imgs/name6.png" alt="" class="banner-item-bg no-click"><b><p>娱乐及度假村管理</p></b></a></li>
            </ul>
        </div>
      <!-- <div class="index-banner-box ts">
        <div class="index-banner ts-ul">
          <div class="banner-item">
            <div class="banner-item-a">
              <img src="/static/imgs/index-banner-first.jpg" alt="" class="banner-item-bg no-click">
            </div>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-vip/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-vip.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-1-24@3x.jpg" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-entertainment.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-entertainment@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-concert.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-entertainment-concert@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-travel/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-travel.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-travel@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-food/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-food.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-food@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-automobile/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-automobile.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-automobile@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sunluxe/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-sunluxe.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sunluxe@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-sia/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-sia.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sia@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-financial/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-financial.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-financial@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-century/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-century.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-century-property@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-management/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-management.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-suncity-management@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
        </div> -->
        <!-- copy for slide -->
        <!--
        <div class="index-banner" style="display:none;">
        
          <div class="banner-item">
            <div class="banner-item-a">
              <img src="/static/imgs/index-banner-first.jpg" alt="" class="banner-item-bg no-click">
            </div>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-vip/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-vip.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-vip@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-entertainment.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-entertainment@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-entertainment-concert/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-concert.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-entertainment-concert@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-travel/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-travel.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-travel@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-food/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-food.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-food@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-automobile/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-automobile.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-automobile@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sunluxe/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-sunluxe.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sunluxe@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-sia/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-sia.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sia@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-financial/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-financial.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-financial@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-century/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-century.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-sun-century-property@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
          <div class="banner-item">
            <a href="/{{ LanguageDisplay }}/companies/sun-management/" alt="" class="banner-item-a">
              <img src="/static/imgs/index-banner-management.jpg" alt="" class="banner-item-bg">
              <img src="/static/imgs/logo-suncity-management@2x.png" alt="" class="banner-item-logo">
            </a>
          </div>
        </div>
      -->
      </div>
      <i class="banner-title-img"></i>
    </div>
    <section class="about-container">
      <div class="index-about-wrapper">
        <div class="about-text-box">
          <h2 class="about-title">
            <a class="section-page-link" href="/{{LanguageDisplay}}/about-us" title="suncity about us"><span>关于太阳城集团</span>
              <i class="icon-suncity-more"></i>
            </a>
          </h2>
          <p class="about-text">太阳城集团是亚洲区其中一间领先的VIP贵宾服务及娱乐综合企业，一直致力提供多元化娱乐服务，秉承「多元创新，积极进取」的精神，为尊贵客户打造涵盖娱乐、旅游、餐饮及影视等领域的崭新玩乐体验。业务范畴遍及旅游、电影制作、演唱会及活动策划、餐饮、奢侈品、拍卖、度假村管理顾问、金融及地产发展等。太阳城集团以澳门为家，矢志扩充亚太区业务，跨步国际。</p>
        </div>
        <img src="/static/imgs/web-bg-map-01.png" srcset="/static/imgs/web-bg-map-01@2x.png 2x, /static/imgs/web-bg-map-01@3x.png 3x" alt="" class="suncity-map" style='cursor: default;'>
      </div>
    </section>
    <section class="bossword-container">
      <div class="wow slideInLeft bossword-content">
        <h2 class="h-one pt75">
          有决心，敢尝试，<br>
          毋惧挑战，就能开创新局面
        </h2>
        <h2 class="Name-zh">
          周焯华<br>
        </h2>
        <span>太阳城集团行政总裁兼董事</span>
      </div>
    </section>
        <section class="newest-container">
      <div class="newests-wrapper">
        <a class="section-page-link" href="/{{LanguageDisplay}}/news/category/latest" title="latest message">
          <span>集团最新消息</span>
          <img src="/static/imgs/more-button.svg" alt="suncity-more"/>
          <img src="/static/imgs/more-button.svg" alt="suncity-more"/>
        </a>
        <div class="newest-list">
          {{#LatestNews}}
          <div class="newest-wrapper">
            <a class="newest-activity" href="/{{LanguageDisplay}}/news/category/{{slug}}" title="{{excerpt}}">
              <div class="newest-activity-image" style="background-image: url({{square_link.url}});"></div>
              <div class="newest-activity-title-box">
                <div class="newest-activity-title">
                    {{title}}
                </div>
              </div>
            </a>
            <div class="content-blur">
              <a href="/{{LanguageDisplay}}/news/category/{{slug}}">
                <div class="more-content">
                  <h2 class="h-one">{{title}}</h2>
                  <div class="line-clamp">{{{excerpt}}}</div>
                  <div class="knowmore-link" title="了解詳情">
                    <span>了解詳情</span>
                    <img src="/static/imgs/more-button-white.svg" alt="suncity-more"/>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {{/LatestNews}}
        </div>
      </div>
      <div class="diamond diamond-left"></div>
      <div class="diamond diamond-right"></div>
      <div class="diamond-background"></div>
    </section>
    {{> footer }}
    <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
    <script src="/static/js/vender/wow.min.js"></script>
    <script src="/static/js/vender/owl.carousel.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/vender/utility.js"></script>
    <script src="/static/js/hreflang.js"></script>
  </body>
</html>
