<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html" ; charset="uft-8">
  <meta http-equiv="Content-Language" content="zh-HK">
  <title>就业机会 - 太阳城集团 SUNCITYGROUP</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <link rel="stylesheet" href="/static/css/animate.css" />
  <link rel="stylesheet" href="/static/css/application.css?v19062101" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <link rel="stylesheet" href="/static/js/vender/multiple-select/multiple-select.min.css" />
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5MH9NFH');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{> header }}
  <!-- banner -->
  <div class="common-banner">
    <div class="common-banner-content">
      <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo" />
      <h1 class="common-banner-title">申请职位</h1>
    </div>
  </div>
  <div class="container">
    <div class="apliaction_content">
      <div class="top_box">
        <h3 class="top_title">申请职位</h3>
        <div class="top_pagination">
          <ul class="pagination_content">
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
          </ul>
          <p></p>
        </div>
      </div>
     <div class="container" id='adForm_one'>
      <form id="submitForm">
        
       <div id="content_one" class="content_box content_onlySign">
          <div class="block">
            <label for=""><span>地区：</span></label>
            <div class="field-important">
              <select class="selectBoxRadioBtnBox region region_one" style="overflow: hidden;" name='working_region' multiple>
              </select>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>第一选择：</span></label>
            <select class="selectBoxRadioBtnBox change_first first_change_one">
              <option value="" selected="selected">请选择部门</option>
            </select>
            </span>
          </div>
          <div class="block">
            <label for=""><span></span></label>
            <div class="field-important">
              <select class="selectBoxRadioBtnBox change_first_one" name='first_choice_id'>
                <option value="" selected="selected">请选择职位</option>
              </select>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block ">
            <label for=""><span>第二选择：</span></label>
            <select class="selectBoxRadioBtnBox second_str second_change_one">
              <option value="" selected="selected">请选择部门</option>
            </select>
          </div>
          <div class="block">
            <label for=""><span></span></label>
           <select class="selectBoxRadioBtnBox change_second_one" name='second_choice_id~int'>
              <option value="" selected="selected">请选择职位</option>
            </select>
          </div>
          <div class="block">
            <label for=""><span>薪资要求：</span></label>
            <input type="text"  placeholder="请输入金额" id='money_one' name='salary_request'>
          </div>
          <div class="block">
            <label for=""><span>离职通知期：</span></label>
            <div class="field-important">
              <select class="selectBoxRadioBtnBox work_back" id='work_back_one' name='applicant_notice_date'>
                <option value="" selected="selected">请选择</option>
              </select>
              <span class="important">*</span>
            </div>
          </div>
      </div>
      <div id="content_two" class="content_box content_onlySign">
          <div class="block">
            <label for=""><span>介绍人姓名：</span></label>
            <input class="drop-down" type="text" placeholder="请输入" id='name_second' name='referrals'>
          </div>
          <div class="block">
            <label for=""><span>介绍人员工编号：</span></label>
            <p class='input_format input_number'>
                <input class="drop-down input-number" type="text" name="referrals_employee_id" placeholder="请输入" id='number_second'>
                <span class='write_text'>輸入的格式有誤！</span>
            </p>
          </div>
          <div class="block">
            <label for=""><span>联络电话：</span></label>
            <p class='input_format format-iphone'>
                <input class="drop-down input-phone" type="text" name="referrals_contact_number" placeholder="请输入" id='referrals_employee_id'>
                <span class='phone_text'>輸入的格式有誤！</span>
            </p>
          </div>
          <div class="block">
            <label for=""><span>介绍人关系：</span></label>
            <input class="drop-down" type="text" name="referrals_relationship" placeholder="请输入" id='introd_second'>
          </div>
          <div class="block">
            <label for=""><span>介绍人场馆/职位：</span></label>
            <select class="selectBoxRadioBtnBox jieshao first_change_one" id='introd_deparment_second'>
              <option value="" selected="selected">请选择部门</option>
            </select>
          </div>
          <div class="block">
            <label for=""><span></span></label>
           <select class="selectBoxRadioBtnBox change_first_one" id='introd_job_second' name='referrals_location_and_position'>
              <option value="" selected="selected">请选择职业</option>
            </select>
          </div>
      </div>
      <div id="content_three" class="content_box content_onlySign">
          <div class="block">
            <label for=""><span>中文姓名：</span></label>
            <div class="field-important">
              <input class="drop-down" type="text" placeholder="请输入" name='chinese_name'>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>外文姓名：</span></label>
            <div class="field-important">
              <input class="drop-down" type="text" name="english_name" placeholder="请输入">
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>昵称：</span></label>
            <input class="drop-down" type="text" name="nick_name" placeholder="请输入">
          </div>
          <div class="block">
            <label for=""><span>性别：</span></label>
            <div class="field-important">
              <select class="selectBoxRadioBtnBox gender" name='gender'>
                <option value="" selected="selected">请选择</option>
              </select>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>婚姻状况：</span></label>
            <select class="selectBoxRadioBtnBox applicat" name='applicant_profile_marital_status_key'>
              <option value="" selected="selected">请选择</option>
            </select>
          </div>
          <div class="block">
            <label for=""><span>出生日期：</span></label>
            <div class="field-important">
             <p class='input_format format-birth'>
                <input class="drop-down format_date" type="text" placeholder="请输入(DD/MM/YYYY)" name='date_of_birth'>
                <span class='birth_text'>輸入的格式有誤！</span>
             </p>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>出生地点：</span></label>
            <input class="drop-down" type="text" placeholder="请输入" name='place_of_birth'>
          </div>
          <div class="block">
            <label for=""><span>国籍：</span></label>
            <input class="drop-down" type="text" placeholder="请输入" name='nationality_setting_id'>
          </div>
          <div class="block">
            <label for=""><span>证件类型：</span></label>
            <div class="field-important">
              <select class="selectBoxRadioBtnBox type_of_id" name="type_of_id">
                <option value="" selected="selected">请选择</option>
              </select>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>证件号码：</span></label>
            <div class="field-important">
            <p class='input_format format-card-number'>
                <input class="drop-down format_card_number" type="text" placeholder="请输入" name='id_number' >
                <span class='card_number_text'>輸入的格式有誤！</span>
             </p>
             <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for="description"><span>住宅/通讯地址：</span></label>
            <textarea name="applicant_address" cols="30" rows="10" placeholder="请输入"></textarea>
          </div>
          <div class="block">
            <label for=""><span>电话号码(住宅)：</span></label>
            <p class='input_format format-iphone1'>
              <input class="drop-down input-phone" name='home_number' placeholder="请输入" >
              <span class='phone_text'>輸入的格式有誤！</span>
            </p>
          </div>
          <div class="block">
            <label for=""><span>流动电话：</span></label>
            <div class="field-important">
             <p class='input_format format-iphone2'>
                <input class="drop-down input-phone" name='applicant_profile_mobile_number' placeholder="请输入">
                <span class='phone_text'>輸入的格式有誤！</span>
             </p>
              <span class="important">*</span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>其他电话：</span></label>
          <p class='input_format format-iphone3'>
            <input class="drop-down input-phone" name='other_phone_number' placeholder="请输入">
            <span class='phone_text'>輸入的格式有誤！</span>
          </p>
          </div>
          <div class="block">
            <label for=""><span>电邮地址：</span></label>
             <p class='input_format input_email'>
                <input class="drop-down input-email" name='applicant_profile_email_personal' placeholder="请输入">
                <span class='email_text'>输入的格式有误！</span>
            </p>
          </div>
          <div class="block">
            <label for=""><span>是否申请签证才可在澳门工作：</span></label>
            <select class="selectBoxRadioBtnBox" id='' name='required_to_hold_a_working_visa_in_order_to_work_in_the_macau~boolean'>
              <option value="" selected="selected">请选择</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
          <div class="block">
            <label for="description"><span>录用备注：</span></label>
            <textarea cols="30" rows="10" placeholder="请输入" name='recruitment_note'></textarea>
          </div>
          <div class="block">
            <label for="description"><span>备注：</span></label>
            <textarea cols="30" rows="10" placeholder="请输入" name='comment'></textarea>
          </div>
      </div>
      <!-- 学历信息 -->
      <div id="content_for" class="fore_box content_onlySign">
        <div class='multi-ul content_container_for' data-min-num="2" data-id="content_for_ul">
          <div class="multi-main"></div>
          <div class="change_btn">
            <p class="remove"> - 移除</p>
            <p class="add">+ 添加</p>
          </div>
        </div>
      </div>
      <div class="content_five content_onlySign" id="content_five">
      <div class='multi-ul content_container_five' data-min-num="2" data-id="content_five_ul">
          <div class="multi-main"></div>
          <div class="change_btn">
            <p class="remove"> - 移除</p>
            <p class="add">+ 添加</p>
          </div>
      </div>
      </div>
      <div class="multi-ul content_six content_onlySign" id="content_six" data-id="content_six_ul">
        <div class="multi-main"></div>
        <div class="change_btn">
          <p class="add">+ 添加</p>
        </div>
      </div>

      <div class="multi-ul content_seven content_onlySign" id="content_seven" data-id="content_seven_ul">
        <!-- 中文 -->
          <div class="block">
            <label for=""><span>中文</span></label>
            <div class="radioBtnBox"></div>
          </div>
          <div class="block">
            <label for=""><span>写：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <span class="fontstyle">优：</span>
                <input type="radio" name="chinese|writing" value="excellent" id="chineseWriteOptimal" checked>
                <label for="chineseWriteOptimal" class="radioLabel"></label>
              </span>
              <span class="radioBtn">
                <span class="fontstyle">良：</span>
                <input type="radio" name="chinese|writing" value="good" id="chineseWriteGood">
                <label for="chineseWriteGood" class="radioLabel"></label>
              </span>
              <span class="radioBtn">
                <span class="fontstyle">一般：</span>
                <input type="radio" name="chinese|writing" value="fair" id="chineseWriteGeneral">
                <label for="chineseWriteGeneral" class="radioLabel radioLabelLeft"></label>
              </span>
            </div>
        </div>

        <!-- 广东话 -->
        <div class="block">
          <label for=""><span>广东话</span></label>
          <div class="radioBtnBox"></div>
        </div>
        <div class="block">
          <label for=""><span>讲：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="contanese|speaking" value="excellent" id="cantoneseWriteRadio1" checked>
              <label for="cantoneseWriteRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="contanese|speaking" value="good" id="cantoneseWriteRadio2">
              <label for="cantoneseWriteRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="contanese|speaking" value="fair" id="cantoneseWriteRadio3">
              <label for="cantoneseWriteRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>听：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="contanese|listening" value="excellent" id="chineseListenRadio1" checked>
              <label for="chineseListenRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="contanese|listening" value="good" id="chineseListenRadio2">
              <label for="chineseListenRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="contanese|listening" value="fair" id="chineseListenRadio3">
              <label for="chineseListenRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>

        <!-- 普通话 -->
        <div class="block">
          <label for=""><span>普通话</span></label>
          <div class="radioBtnBox"></div>
        </div>
        <div class="block">
          <label for=""><span>讲：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="mandarin|speaking" value="excellent" id="mandarinWriteRadio1" checked>
              <label for="mandarinWriteRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="mandarin|speaking" value="good" id="mandarinWriteRadio2">
              <label for="mandarinWriteRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="mandarin|speaking" value="fair" id="mandarinWriteRadio3">
              <label for="mandarinWriteRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>听：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="mandarin|listening" value="excellent" id="mandarinListenRadio1" checked>
              <label for="mandarinListenRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="mandarin|listening" value="good" id="mandarinListenRadio2">
              <label for="mandarinListenRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="mandarin|listening" value="fair" id="mandarinListenRadio3">
              <label for="mandarinListenRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <p class="footer_line"></p>

        <!-- 英文 -->
        <div class="block">
          <label for=""><span>英文</span></label>
          <div class="radioBtnBox"></div>
        </div>
        <div class="block">
          <label for=""><span>讲：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="english|speaking" value="excellent" id="EnglishWriteRadio1" checked>
              <label for="EnglishWriteRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="english|speaking" value="good" id="EnglishWriteRadio2">
              <label for="EnglishWriteRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="english|speaking" value="fair" id="EnglishWriteRadio3">
              <label for="EnglishWriteRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>听：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="english|listening" value="excellent" id="EnglishListenRadio1" checked>
              <label for="EnglishListenRadio1" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="english|listening" value="good" id="EnglishListenRadio2">
              <label for="EnglishListenRadio2" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="english|listening" value="fair" id="EnglishListenRadio3">
              <label for="EnglishListenRadio3" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>写：</span></label>
          <div class="radioBtnBox">
            <span class="radioBtn">
              <span class="fontstyle">优：</span>
              <input type="radio" name="english|writing" value="excellent" id="EnglishsWriteOptimal" checked>
              <label for="EnglishsWriteOptimal" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">良：</span>
              <input type="radio" name="english|writing" value="good" id="EnglishsWriteGood">
              <label for="EnglishsWriteGood" class="radioLabel"></label>
            </span>
            <span class="radioBtn">
              <span class="fontstyle">一般：</span>
              <input type="radio" name="english|writing" value="fair" id="EnglishsWriteGeneral">
              <label for="EnglishsWriteGeneral" class="radioLabel radioLabelLeft"></label>
            </span>
          </div>
        </div>
        <p class="footer_line"></p>
        <!-- 其他 -->
        <div class="multi-main"></div>
        <div class="change_btn">
          <p class="remove"> - 移除</p>
          <p class="add">+ 添加</p>
        </div>
        <p class="footer_line footer_line_bottom"></p>
        <div class="block">
          <label for=""><span>电脑技能：</span></label>
          <textarea name="applicant_language_skill|computer_skill" cols="30" rows="10" placeholder="请输入"></textarea>
        </div>
        <div class="block">
          <label for=""><span>其他技能：</span></label>
          <textarea name="applicant_language_skill|language_skill" cols="30" rows="10" placeholder="请输入"></textarea>
        </div>
      </div>
        <!-- 家庭成员信息 -->
      <div class="multi-ul content_eight content_onlySign content_box" style="padding-bottom:0" id="content_eight" data-id="content_eight_ul">
        <div class="multi-main"></div>
        <div class="change_btn">
          <p class="add">+ 添加</p>
        </div>
      </div>
        <!-- 背景申报 -->
       <div class="content_nine content_onlySign" id="content_nine">
           <div class="block">
          <label for=""><span>刑事记录，是否曾因刑事桉件被定罪：</span></label>
          <select class="selectBoxRadioBtnBox" name="relative_criminal_record~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
        </div>
        <div class="block">
          <label for=""><span>请列明：</span></label>
          <textarea name="relative_criminal_record_detail" cols="30" rows="10" placeholder="请输入"></textarea>
        </div>
        <div class="block">
          <label for=""><span>阁下或阁下亲属是否拥有公司与太阳城有生意往来的关系：</span></label>
          <select class="selectBoxRadioBtnBox" name="relative_business_relationship_with_suncity~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
        </div>
        <div class="block">
          <label for=""><span>阁下或阁下亲属是否拥有太阳城集团所属各贵宾厅之户口：</span></label>
          <select class="selectBoxRadioBtnBox" name="has_suncity_role~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
        </div>
       </div>
        <!-- 相关文件 -->
        <div id="content_ten" class="multi-ul content_ten content_onlySign" data-id="content_onlySign_ul">
          <div class="multi-main"></div>
          <div class="change_btn">
            <p class="add">+ 添加</p>
          </div>
        </div>
        <!-- 得知招聘途径 -->
        <div class="content_eleven content_onlySign" id="content_eleven">
          <div class="block">
            <label for=""><span>太阳城集团网站：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp1" checked>
                <label for="sunHttp1" class="radioLabel"></span></label>
              </span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>劳⼯事务局：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp2">
                <label for="sunHttp2" class="radioLabel"></label>
              </span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>宣传单张：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp3">
                <label for="sunHttp3" class="radioLabel"></label>
              </span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>朋友：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp4">
                <label for="sunHttp4" class="radioLabel"></label>
              </span>
            </div>
          </div>
          <div class="block">
            <label for=""><span>推荐⼈计划：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp5">
                <label for="sunHttp5" class="radioLabel"></label>
              </span>
            </div>
          </div>

          <div class="block">
            <label for=""><span>报纸：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp6">
                <label for="sunHttp6" class="radioLabel"></label>
              </span>
              <input class="drop-down" type="text" placeholder="请列明" name="recruitment_route|paper_detail">
            </div>
          </div>
          <div class="block">
            <label for=""><span>招聘网站： </span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp7">
                <label for="sunHttp7" class="radioLabel"></label>
              </span>
              <input class="drop-down" type="text" placeholder="请列明" name="recruitment_route|recruitment_web_detail">
            </div>
          </div>
          <div class="block">
            <label for=""><span>社交平台： </span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp8">
                <label for="sunHttp8" class="radioLabel"></label>
              </span>
              <input class="drop-down" type="text" placeholder="请列明" name="recruitment_route|social_networking_platform_detail">
            </div>
          </div>
          <div class="block">
            <label for=""><span>校园网页： </span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="recruitment_route|recruitment_route" id="sunHttp9">
                <label for="sunHttp9" class="radioLabel"></label>
              </span>
              <input class="drop-down" type="text" placeholder="请列明" name="recruitment_route|school_web_detail">
            </div>
          </div>
          <div class="block">
            <label for=""><span>其他：</span></label>
            <div class="radioBtnBox">
              <span class="radioBtn">
                <input type="checkbox" name="sunHttp" id="sunHttp10">
                <label for="sunHttp10" class="radioLabel"></label>
              </span>
              <input class="drop-down" type="text" placeholder="请列明" name="recruitment_route|others_detail">
            </div>
          </div>
        </div>
      </form>
     </div>
  </div>
  <div class="footer">
      <p class="prev">上一步</p>
      <p class="next">下一步</p>
      <p class="success">完成</p>
    </div>

  <div class="multi-template" id="content_five_ul">
    <div class="multi-li content_box">
        <div class="block">
          <label for=""><span>读书、文凭及专业机构会员资格：</span></label>
          <div class="field-important">
            <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_professional_items.professional_certificate">
            <span class="important">*</span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>颁发机构：</span></label>
          <div class="field-important">
            <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_professional_items.organization">
            <span class="important">*</span>
          </div>
        </div>
        <div class="block">
          <label for=""><span>颁发日期：</span></label>
          <div class="field-important">
          <p class='input_format'>
            <input class="drop-down format_date" type="text" placeholder="请输入(DD/MM/YYYY)" name="applicant_profile_section_v2_professional_items.issue_date">
            <span class='birth_text'>輸入的格式有誤！</span>
          </p>
            <span class="important">*</span>
          </div>
        </div>
        <div class="block">
          <label for="description"><span>备注：</span></label>
          <textarea name="applicant_profile_section_v2_professional_items.comment" cols="30" rows="10" placeholder="请输入"></textarea>
        </div>
        <p class="footer_line"></p>
    </div>
  </div>
  
  <div class="multi-template" id="content_onlySign_ul">
    <div class="multi-li">
      <div class="block">
        <label for=""><span>文件类型：</span></label>
        <select class="selectBoxRadioBtnBox attachment_type_id" name="attachments.applicant_attachment_type_id">
          <option value="" selected="selected">请选择</option>
        </select>
      </div>
      <div class="block">
        <label for=""><span>上传文件：</span></label>
        <div class="selectBoxRadioBtnBoxFileWrap">
          <input class="selectBoxRadioBtnBoxValue" placeholder="请上传" />
          <input class="selectBoxRadioBtnBoxFile" type="file" placeholder='请上传'/>
          <input type="hidden" class="selectBoxRadioBtnBoxFileId" name="attachments.attachment_id"/>
        </div>
      </div>
      <div class="block">
        <label for=""><span>文件名称：</span></label>
        <input class="drop-down" name="attachments.file_name" type="text" placeholder="请输入">
      </div>
      <div class="block">
        <label for=""><span>备注：</span></label>
        <textarea name="attachments.description" cols="30" rows="10" placeholder="请输入"></textarea>
      </div>
      <p class="footer_line"></p>
    </div>
  </div>

  <div class="multi-template" id="content_eight_ul">
    <div class="multi-li">
      <div class="block">
        <label for=""><span>关系：</span></label>
        <div class="field-important">
          <select class="selectBoxRadioBtnBox relation_ship" name="applicant_profile_section_v2_family_member_items.relation_ship">
              <option value="" selected="selected">请选择</option>
            </select>
            <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>中文名字：</span></label>
        <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_family_member_items.chinese_name">
      </div>
      <div class="block">
        <label for=""><span>外文名字：</span></label>
        <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_family_member_items.english_name">
      </div>
      <div class="block">
        <label for=""><span>性别：</span></label>
        <select class="selectBoxRadioBtnBox gender" name="applicant_profile_section_v2_family_member_items.gender">
          <option value="" selected="selected">请选择</option>
        </select>
      </div>
      <div class="block">
        <label for=""><span>出生日期：</span></label>
        <p class='input_format format-birth'>
          <input class="drop-down format_date" type="text" placeholder="请输入(DD/MM/YYYY)" name="applicant_profile_section_v2_family_member_items.birth_date">
          <span class='birth_text'>輸入的格式有誤！</span>
        </p>
      </div>
      <div class="block">
        <label for=""><span>联络电话：</span></label>
          <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_family_member_items.phone_number">
      </div>
      <div class="block">
        <label for=""><span>是否现职本公司：</span></label>
        <div class="field-important">
          <select class="selectBoxRadioBtnBox in-service-select" name="applicant_profile_section_v2_family_member_items.in_service~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>部门：</span></label>
        <select class="selectBoxRadioBtnBox deparment first_change_one" name="applicant_profile_section_v2_family_member_items.department">
          <option value="" selected="selected">请选择部门</option>
        </select>
      </div>
      <div class="block">
        <label for=""><span>职位：</span></label>
        <select class="selectBoxRadioBtnBox jobs change_first_one" name="applicant_profile_section_v2_family_member_items.position">
          <option value="" selected="selected">请选择职业</option>
        </select>
      </div>
      <div class="block">
        <label for=""><span>是否紧急联系人：</span></label>
        <select class="selectBoxRadioBtnBox" name="applicant_profile_section_v2_family_member_items.emergency_contact~boolean">
          <option value="" selected="selected">请选择</option>
          <option value="1" >是</option>
          <option value="0" >否</option>
        </select>
      </div>
      <p class="footer_line"></p>
    </div>
  </div>

  <div class="multi-template" id="content_seven_ul">
    <div class="multi-li">
      <div class="block">
        <label for=""><span>其他：</span></label>
        <input class="drop-down" type="text" name="other|name" placeholder="请输入">
      </div>
      <div class="block">
        <label for=""><span>讲：</span></label>
        <div class="radioBtnBox">
          <span class="radioBtn">
            <span class="fontstyle">优：</span>
            <input type="radio" name="other|speaking" value="excellent" id="otherWriteRadio1" checked>
            <label for="otherWriteRadio1" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">良：</span>
            <input type="radio" name="other|speaking" value="good" id="otherWriteRadio2">
            <label for="otherWriteRadio2" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">一般：</span>
            <input type="radio" name="other|speaking" value="fair" id="otherWriteRadio3">
            <label for="otherWriteRadio3" class="radioLabel radioLabelLeft"></label>
          </span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>听：</span></label>
        <div class="radioBtnBox">
          <span class="radioBtn">
            <span class="fontstyle">优：</span>
            <input type="radio" name="other|listening" value="excellent" id="otherListenRadio1" checked>
            <label for="otherListenRadio1" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">良：</span>
            <input type="radio" name="other|listening" value="good" id="otherListenRadio2">
            <label for="otherListenRadio2" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">一般：</span>
            <input type="radio" name="other|listening" value="fair" id="otherListenRadio3">
            <label for="otherListenRadio3" class="radioLabel radioLabelLeft"></label>
          </span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>写：</span></label>
        <div class="radioBtnBox">
          <span class="radioBtn">
            <span class="fontstyle">优：</span>
            <input type="radio" name="other|writing" value="excellent" id="othersWriteOptimal" checked>
            <label for="othersWriteOptimal" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">良：</span>
            <input type="radio" name="other|writing" value="good" id="othersWriteGood">
            <label for="othersWriteGood" class="radioLabel"></label>
          </span>
          <span class="radioBtn">
            <span class="fontstyle">一般：</span>
            <input type="radio" name="other|writing" value="fair" id="othersWriteGeneral">
            <label for="othersWriteGeneral" class="radioLabel radioLabelLeft"></label>
          </span>
        </div>
      </div>
      <p class="footer_line"></p>
    </div>
  </div>

  <div class="multi-template" id="content_six_ul">
    <div class="multi-li content_box">
      <div class="block">
        <label for=""><span>任职公司：</span></label>
        <div class="field-important">
          <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.company_organization">
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>职位：</span></label>
        <div class="field-important">
          <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.work_experience_position">
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>由(月/年)：</span></label>
        <div class="field-important">
         <p class='input_format'>
           <input class="drop-down format_date" type="text" placeholder="请输入(MM/YYYY)" name="applicant_profile_section_v2_work_experience_items.work_experience_from">
           <span class='birth_text'>輸入的格式有誤！</span>
         </p>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>至(月/年)：</span></label>
        <div class="field-important">
         <p class='input_format'>
           <input class="drop-down format_date" type="text" placeholder="请输入(MM/YYYY)" name="applicant_profile_section_v2_work_experience_items.work_experience_to_text">
           <span class='birth_text'>輸入的格式有誤！</span>
         </p>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for="description"><span>工作概要：</span></label>
        <textarea cols="30" rows="10" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.job_description"></textarea>
      </div>
      <div class="block">
        <label for=""><span>现时/离职时每月薪金(元/月)：</span></label>
        <div class="field-important">
          <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.work_experience_salary" />
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for="description"><span>离职原因：</span></label>
        <textarea name="applicant_profile_section_v2_work_experience_items.work_experience_reason_for_leaving" cols="30" rows="10" placeholder="请输入"></textarea>
      </div>
      <div class="block">
        <label for=""><span>公司电话：</span></label>
         <p class='input_format format-iphone1'>
            <input class="drop-down input-phone" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.work_experience_company_phone_number" />
            <span class='phone_text'>輸入的格式有誤！</span>
         </p>
      </div>
      <div class="block">
        <label for=""><span>前负责人/上司姓名：</span></label>
        <input class="drop-down" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.former_head">
      </div>
      <div class="block">
        <label for=""><span>个人电子邮件：</span></label>
         <p class='input_format input_email'>
            <input class="drop-down input-email" type="text" placeholder="请输入" name="applicant_profile_section_v2_work_experience_items.work_experience_email">
            <span class='email_text'>输入的格式有误！</span>
        </p>
      </div>
      <p class="footer_line"></p>
    </div>
  </div>

  <div class="multi-template" id="content_for_ul">
    <div class="multi-li content_box">
      <div class="block">
        <label for=""><span>由(月/年)入学：</span></label>
        <div class="field-important">
         <p class='input_format'>
           <input class="drop-down format_date" type="text" placeholder="请输入(MM/YYYY)" name="applicant_profile_section_v2_education_items.from_mm_yyyy">
           <span class='birth_text'>輸入的格式有誤！</span>
         </p>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>至(月/年)毕业：</span></label>
        <div class="field-important">
         <p class='input_format'>
          <input class="drop-down format_date" type="text" placeholder="请输入(MM/YYYY)" name="applicant_profile_section_v2_education_items.to_mm_yyyy">
          <span class='birth_text'>輸入的格式有誤！</span>
         </p>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>毕业学校：</span></label>
        <div class="field-important">
          <input class="drop-down format_date" type="text" placeholder="请输入" name="applicant_profile_section_v2_education_items.graduated_school">
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>学历程度：</span></label>
        <div class="field-important">
          <select class="selectBoxRadioBtnBox study" name="applicant_profile_section_v2_education_items.diploma_degree_attained_key">
            <option value="" selected="selected">请选择</option>
          </select>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>学位及专业：</span></label>
        <input class="drop-down" type="text" name="applicant_profile_section_v2_education_items.educational_department_text" placeholder="请输入">
      </div>
      <div class="block">
        <label for=""><span>颁发年份：</span></label>
         <p class='input_format'>
           <input class="drop-down format_date" type="text" name="applicant_profile_section_v2_education_items.certificate_issue_year" placeholder="请输入(YYYY)">
           <span class='birth_text'>輸入的格式有誤！</span>
         </p>
      </div>
      <div class="block">
        <label for=""><span>是否毕业：</span></label>
        <div class="field-important">
          <select class="selectBoxRadioBtnBox" name="applicant_profile_section_v2_education_items.graduated~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
          <span class="important">*</span>
        </div>
      </div>
      <div class="block">
        <label for=""><span>是否最高学历：</span></label>
        <div class="field-important">
          <select class="selectBoxRadioBtnBox " name="applicant_profile_section_v2_education_items.highest~boolean">
            <option value="" selected="selected">请选择</option>
            <option value="1" >是</option>
            <option value="0" >否</option>
          </select>
          <span class="important">*</span>
        </div>
      </div>
      <p class="footer_line"></p>
    </div>
  </div>
  <div class="multi-template" id="relate-user-id">
    <div class="block relate-user-id-block">
        <label for=""><span>员工编号：</span></label>
        <div class="field-important">
            <input class="drop-down input-number" type="text" placeholder="请输入" name="applicant_profile_section_v2_family_member_items.relate_user_id">
          <span class="important">*</span>
        </div>
      </div>
  </div>
  {{> footer}}
  <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
  <script src="/static/js/vender/multiple-select/multiple-select.min.js"></script>
  <script src="/static/js/vender/wow.min.js"></script>
  <script src="/static/js/footer.js"></script>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/vender/utility.js"></script>
  {{! <script src="/static/js/hreflang.js"></script> }}
  <script src="/static/js/application.js?v19062101"></script>
</body>

</html>