{extend name="base/base" /}
{block name="main"}
<link href="/textarea/umeditor.min.css" type="text/css" rel="stylesheet">

<form id="form" method="post" class="layui-form layui-form-pane" action="#" enctype="multipart/form-data">
    <div class="btnShow_viewLoading">
        <img src="/images/loading.gif" alt="">
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>slug：</label>
        <div class="layui-input-inline">
            <input type="text" name="slug" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.slug)?$list.slug:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>繁體標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.title_hk)?$list.title_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>繁體內容：</label>
        <div class="layui-input-inline">
            <script type="text/plain" class="plainDome" id="dome" style="width:100%;height:280px;">

            </script>
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>簡體標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.title_cn)?$list.title_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>簡體內容：</label>
        <div class="layui-input-inline">
            <script type="text/plain" class="plainDome" id="dome1" style="width:100%;height:280px;">

            </script>
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">英文標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                value="{:isset($list.title_en)?$list.title_en:''}">
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <label class="labels">英文內容：</label>
        <div class="layui-input-inline">
            <script type="text/plain" class="plainDome" id="dome2" style="width:100%;height:280px;">

            </script>
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>url：</label>
        <div class="layui-input-inline">
            <input type="text" name="url" placeholder="請輸入" autocomplete="off" class="layui-input" lay-verify="required"
                value="{:isset($list.url)?$list.url:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>狀態：</label>
        <div class="layui-input-inline">
            <select name="status" lay-verify="required" id="status">
                <option value="">請選擇狀態</option>
                <option value="0" <?php if(isset($list['state']) && $list['state']==0){echo "selected";} ?>>草稿</option>
                <option value="1" <?php if(isset($list['state']) && $list['state']==1){echo "selected";} ?>>已發布</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>發佈時間：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="test1" name="time" placeholder="請選擇日期"
                value="{:isset($list.time)?$list.time:''}" autocomplete="off" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">{if $where==='add'}<span class='Important'>*</span>{/if}圖片</label>
        <div class="uploadImgBox">
            <!-- 没有图片显示这个 -->
            {if(!isset($list.img_url) || empty($list.img_url))}
            <span id="noImg" class="add_img">
                <span>
                <p class="add">+</p>
                <p class="add_title">上傳圖片</p>
                </span>
            </span>
            {/if}
            <img src="{:isset($list.img_url)?$list.img_url:''}" alt="" id="myImg">
            <input type="file" name="file" accept="image/*" id="uploadImage">
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">

            <button type="button" class="layui-btn" lay-submit lay-filter="*" id="commit">確認</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="/static/js/vender/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/textarea/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/textarea/umeditor.min.js"></script>
<script type="text/javascript" src="/textarea/zh-cn.js"></script>

<script>
    // 点击 input 展示需要上传
    const uploadImage_el = document.getElementById("uploadImage");
    // 监听 input change 事件
    uploadImage_el.addEventListener('change', function () {
        if (!uploadImage_el.value) {
            alert('沒有選擇文件');
            return;
        }
        // 获取File引用:
        const file = uploadImage_el.files[0];
        // 读取文件:
        let reader = new FileReader();
        reader.onload = function (e) {
            const data = e.target.result;
            // 预览图片
            $('#myImg').attr('src', data);
            // 将默认隐藏
            $('#noImg').addClass('promptHide');
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);

    });
    
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use(['form', 'jquery', 'formSelects', 'layedit', 'laydate'], function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
            , type: 'datetime'
            , trigger: 'click'
        });
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form;

        //实例化编辑器
        const dome_el = UM.getEditor('dome');
        dome_el.ready(function () {
            dome_el.setContent(`{:isset($list.content_hk)?$list.content_hk:''}`);
        })
        const dome1_el = UM.getEditor('dome1');
        dome1_el.ready(function () {
            dome1_el.setContent(`{:isset($list.content_cn)?$list.content_cn:''}`);
        })
        const dome2_el = UM.getEditor('dome2');
        dome2_el.ready(function () {
            dome2_el.setContent(`{:isset($list.content_en)?$list.content_en:''}`);
        })

        var where = "<?php echo $where; ?>";

        $("#commit").on("click", function (){
            const content_hk = dome_el.getContent();
            const content_cn = dome1_el.getContent();
            const content_en = dome2_el.getContent();

            var slug = $("input[ name='slug']").val();
            var title_hk = $("input[ name='title_hk']").val();
            var title_cn = $("input[ name='title_cn']").val();
            var url = $("input[ name='url']").val();
            var status = $("#status option:selected").val();
            var time = $("input[ name='time']").val();
            var file = $("input[ name='file']").val();

            if(!slug){
                msg('slug不能為空');
                return false;
            }
            if(!title_hk){
                msg('繁體標題不能為空');
                return false;
            }
            if (!content_hk) {
                msg('繁體內容不能为空');
                return false;
            }
            if(!title_cn){
                msg('簡體標題不能為空');
                return false;
            }
            if (!content_cn) {
                msg('簡體內容不能为空');
                return false;
            }
            if(!url){
                msg('url不能為空');
                return false;
            }else{
                var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
                var objExp=new RegExp(Expression);
                if(objExp.test(url) != true){
                    msg("url格式不正確！請重新輸入");
                    return false;
                }
            }
            if(status === ''){
                msg('狀態不能為空');
                return false;
            }
            if(!time){
                msg('發佈時間不能為空');
                return false;
            }
            if(where==='add' && !file){
                msg('請選擇上傳圖片');
                return false;
            }

            var form = new FormData($('#form')[0]);
            form.append("content_hk", content_hk);
            form.append("content_cn", content_cn);
            form.append("content_en", content_en);

            $.ajax({
                url: '/admin/concert_commit',
                type: 'POST',
                cache: false,
                data: form,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        parent.layer.msg('成功', { icon: 1 });
                        setTimeout(reload,1000);
                    } else {
                        parent.layer.msg('失败', { icon: 2 });
                    }
                },
                beforeSend: function () {
                    $('.btnShow_viewLoading').css('display','flex');
                },
                complete: function () {
                    $('.btnShow_viewLoading').css('display','none');
                }
            });

            return false;
        });
    });
    function reload() {
        var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
        window.parent.location.reload();//刷新父页面
        parent.layer.close(index);//关闭弹出层
    }
</script>
{/block}