<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html"; charset="uft-8">
  <meta http-equiv="Content-Language" content="zh-HK">
  <title>就業機會 - 太陽城集團 SUNCITYGROUP</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <link rel="stylesheet" href="/static/css/animate.css" />
  <link rel="stylesheet" href="/static/css/job_new.css" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MH9NFH');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MH9NFH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{> header }}
  <!-- banner -->
  <div class="common-banner">
    <div class="common-banner-content">
      <img src="/static/imgs/common/sun-logo.svg" class="common-banner-logo" alt="sun-logo"/>
      <h1 class="common-banner-title">就業機會</h1>
    </div>
  </div>
  <!-- strategy -->
  <div class="strategy">
    <div class="strategy-content">
      <div class="strategy-detail wow slideInLeft company_introduce">
        <h2 class="strategy-title">「尊重人才‧成就未來」</h2>
        <p class="strategy-text">是太陽城集團的員工發展方針。我們為各職級的同事們安排必備的課程，幫助員工提升競爭力，為他們職業生涯作發展、作規劃。誠邀你們加入太陽城集團！</p>
      </div>
    </div>
  </div>
  <div class='jobs_title'><p>・旭日東昇－太陽城集團・招兵買馬－人才招募・用人唯才－培訓課程</p></div>
  <div class="activity-item white-bg">
    <div class="activity-wrapper">
      <div class="wow fadeInLeft activity-info">
        <div class="activity-img-wrapper">
          <img src="/static/imgs/icn-growth.png" srcset="/static/imgs/icn-growth@2x.png 2x, /static/imgs/icn-growth@3x.png 3x">
          <h2 class="activity-name">僱員活動</h2>
        </div>
        <div class="activity-detail">
          <p>為了讓員工於工作及生活取得平衡發展，集團定期舉辦員工旅行及多元化興趣班。</p>
          <div class="activity-column-wrapper">
            <ul class="activity-column">
              <li>・每月為員工舉辦生日派對</li>
              <li>・定期舉辦不同的康體文娛活動，包括：<br>「咖啡拉花工作坊」、「甜品工作坊」、「高爾夫球同樂日」「保齡球比賽」、「舞蹈班」、「員工旅行」等</li>
              <li>・舉辦「年度最佳員工選舉」頒獎禮，嘉許表現出色的員工</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-item brown-bg">
    <div class="activity-wrapper">
      <div class="wow fadeInLeft activity-info">
        <div class="activity-img-wrapper">
          <img src="/static/imgs/icn-group.png" srcset="/static/imgs/icn-group@2x.png 2x, /static/imgs/icn-group@3x.png 3x">
          <h2 class="activity-name">工作環境</h2>
        </div>
        <div class="activity-detail">
          <p>我們集團的口號是以人為本，為客戶提供優質的服務。因此，我們的員工是其中一個重要部分，我們非常重視員工發展，為員工提供專業培訓讓他們盡展所長，樂於成為太陽城集團的一份子。</p>
          <div class="activity-column-wrapper">
            <ul class="activity-column">
              <li>・為經理級以上員工推行與香港中文大學合辦之「督導管理技巧培訓」課程</li>
              <li>・為新入職員工舉辦迎新會</li>
              <li>・定期舉辦專業的在職培訓，包括：<br>「電腦班」、「職務範圍及要求文件的編寫工作坊」、「工作心態培訓班」等</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- job -->
  <div class="jobs-wrapper diamond-bg">
    <h2 class="jobs-title">集團職位空缺</h2>
        <ul class="jobs-list">
      <li class="job-item">
        <a href="/{{ LanguageDisplay }}/jobs-vip/">
          <i class="icon-img icon-vip"></i>
          <p class="job-name">貴賓服務</p>
        </a>
      </li>
      <li class="job-item">
        <a href="http://www.suneg.com/contact-us/" target="_blank">
          <i class="icon-img icon-entertainment"></i>
          <p class="job-name">電影業務</p>
        </a>
      </li>
       <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-entertainment-icon"></i>
          <p class="job-name">娛樂表演</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-travel"></i>
          <p class="job-name">環球旅遊</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:">
          <i class="icon-img icon-food"></i>
          <p class="job-name">餐飲業務</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-car"></i>
          <p class="job-name">國際車業</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-shopping"></i>
          <p class="job-name">奢華購物</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-auction"></i>
          <p class="job-name">珍品拍賣</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-financial"></i>
          <p class="job-name">金融投資</p>
        </a>
      </li>
      <li class="job-item">
        <a href="http://www.sunifg.com/job/" target="_blank">
          <i class="icon-img icon-estate"></i>
          <p class="job-name">地產開發</p>
        </a>
      </li>
      <li class="job-item">
        <a href="mailto:jobs@suncity-group.com">
          <i class="icon-img icon-management"></i>
          <p class="job-name">管理顧問</p>
        </a>
      </li>
    </ul>
  </div>
  <!-- map -->
  <div class="address-wrapper">
    <div class="map-wrapper">
      <div id="googleMap" class="wow fadeIn"></div>
    </div>
    <div class="contact-us  wow fadeIn">
      <h2 class="contact-us-title">招聘及員工發展中心</h2>
      <p class="contact-number">招聘熱線 <a href="tel:+85388911331">+853 8891 1331</a></p>
      <div>
        <img class="contact-img" src="/static/imgs/job-clock.svg"/>
        <p class="contact-info"><span>10:30 - 12:30 / 14:00 - 18:00 </span><span>（星期六，日及公眾假期除外）</span></p>
      </div>
      <div>
        <img class="contact-img" src="/static/imgs/job-mail.svg"/>
        <p class="contact-info"><a href="mailto:jobs@suncity-group.com">jobs@suncity-group.com</a></p>
      </div>
      <div>
        <img class="contact-img" src="/static/imgs/job-location.svg"/>
        <p class="contact-info">澳門宋玉生廣場263號中土大廈16樓C至D座</p>
      </div>
    </div>
  </div>
  {{> footer}}
  <script src="/static/js/vender/jquery-3.2.1.min.js"></script>
  <script src="/static/js/vender/wow.min.js"></script>
  <script src="/static/js/googleMap.js"></script>
  <script src="/static/js/footer.js"></script>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/vender/utility.js"></script>
  <script src="/static/js/hreflang.js"></script>
</body>

</html>