{extend name="base/base" /}
{block name="main"}
<style>
    .thumb {margin-left:5px; margin-top:15px; height:128px}
    #prevModal {width:100%; height:100%; text-align:center; display:none;}
    #img_prev {max-width:98%; max-height:98%; margin: 10px auto}
</style>
<form id="form" method="post" enctype="multipart/form-data" class="layui-form layui-form-pane" action="#">
    <div class="layui-form-item flex-column">
        <label class="labels">圖片</label>
        <!--<div id="test1" class="add_img">-->
            <!--<span >-->
                <!--<p class="add">+</p>-->
                <!--<p class="add_title">上传图片</p>-->
            <!--</span>-->
        <!--</div>-->
        <input type="file" name="file[]" accept="image/*" multiple>

    </div>
    <!--<div class='layui-input-block' id='div_prev' title=''></div>-->

    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="*" id="commit">提交</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script src="/static/js/vender/jquery-3.2.1.min.js"></script>

<script>

    $("#commit").on("click", function (){
        var form = new FormData($('#form')[0]);
        $.ajax({
            url: '/admin/uploadCommit',
            type: 'POST',
            cache: false,
            data: form,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data) {
                if(data.code===200){
                    parent.layer.msg('添加成功',{icon:1});
                }else{
                    parent.layer.msg('添加失败',{icon:2});
                }
            }
        });
    });

</script>
{/block}
