{extend name="base/base" /}
{block name="main"}
<style>
    .layui-table-fixed-r td{height:58px!important;}
    .layui-table-fixed-r th{height:58px!important;}
    .layui-table img {
        /*width: 100%;*/
        /*height: 100%;*/
        max-width: 300px;min-height: 80px;
    }
    table tr td .laytable-cell-1-0-1 {
        padding:0px!important;;
        height: 200px!important;;
        /*width: 200px!important;*/
        line-height: 200px!important;;
    }
    .layui-layer-content{
        display: flex;justify-content: center;align-items: center;
    }
    .layui-table-fixed-l{
        display: none;
    }
</style>
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn">添加</a>
        </div>
    </blockquote>
    <table id="usersList" lay-filter="usersList"></table>
    <!--操作-->
    <script type="text/html" id="usersListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="titleTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>

</form>
{/block}
{block name="script"}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/previewImg.js"></script>
<script>
    layui.use(['jquery','form','layer','laydate','table','laytpl'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            table = layui.table;
        laydate.render({
            elem: '#test1' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#test2' //指定元素
            ,type: 'datetime'
        });
        //用户列表
        var tableIns = {
            id:'id',
            elem: '#usersList',
            url : "/admin/sun_banner_data",
            where:{type:5},
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            // height : "full-125",
            height: 680,
            size:'sm',
            method:'post',
            // id:'usersListTable',
            cols : [[
                {field: 'sort', title: 'ID', width:100, fixed: 'left', align:'center', templet:'#titleTpl'},
                {field: 'url', title: '圖片',align: 'center',templet:'<div><img src="{{ d.url}}" onclick="previewImg(this)"></div>'},
                {title: '操作', templet:'#usersListBar',fixed:"right",align:"center"}
            ]],
            done: function(res, curr, count){
                layer.closeAll();
            }
        };


        //方法级渲染-默认显示入金记录
        var ins1 = table.render(tableIns);

        //编辑用户
        function edit(id){
            var index = layui.layer.open({
                title : "编辑用户",
                type : 2,
                area: ['900px', '400px'],
                fixed: false, //不固定
                maxmin: true,
                content : "{:url('/admin/sun_banner_edit')}"+'?id='+id+'&type=5',
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            // layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                // layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        //列表操作
        table.on('tool(usersList)', function(obj){
            var layEvent = obj.event, data = obj.data;
            if(layEvent === 'edit'){ //编辑
                edit(data.id);
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(index){
                    $.post("{:url('/admin/sun_banner_delete')}",{id:data.id},function(data){
                        var icon=5;
                        if(data.code){
                            icon=6;
                        }
                        layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                            if(data.code){
                                obj.del();
                            }
                        });
                    })
                });
            }
        });
        $(".adduser_btn").click(function(){
            edit('');
        })
    })
</script>
{/block}
