{extend name="base/base" /}
{block name="main"}
<style>
    .layui-table-fixed-r td{height:58px!important;}
    .layui-table-fixed-r th{height:58px!important;}
    .layui-table img {
        /*width: 100%;*/
        /*height: 100%;*/
        max-width: 300px;min-height: 80px;
    }
    table tr td .laytable-cell-1-0-1 {
        padding:0px!important;;
        height: 200px!important;;
        /*width: 200px!important;*/
        line-height: 200px!important;;
    }
    table tr td .laytable-cell-2-0-1 {
        padding:0px!important;;
        height: 200px!important;;
        /*width: 200px!important;*/
        line-height: 200px!important;;
    }
    .layui-layer-content{
        display: flex;justify-content: center;align-items: center;
    }
    .layui-table-fixed-l{
        display: none;
    }
</style>
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn">添加</a>
        </div>
    </blockquote>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">餐飲體驗</li>
            <li>Banner</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="usersList" lay-filter="usersList"></table>
            </div>
            <div class="layui-tab-item">
                <table id="usersList1" lay-filter="usersList1"></table>
            </div>
        </div>
    </div>
    <!-- <table id="usersList" lay-filter="usersList"></table> -->
    
    <!--操作-->
    <script type="text/html" id="listImg">
        <div><img src="{{d.img_url}}" onclick="previewImg(this)"></div>
    </script>
    <script type="text/html" id="bannerImg">
        <div><img src="{{d.url}}" onclick="previewImg(this)"></div>
    </script>
    <script type="text/html" id="usersListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">編輯</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">刪除</a>
    </script>
    <script type="text/html" id="usersListBar1">
        <a class="layui-btn layui-btn-xs" lay-event="edit1">編輯</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del1">刪除</a>
    </script>
    <script type="text/html" id="titleTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
    <script type="text/html" id="titleTpl1">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</form>
{/block}
{block name="script"}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/previewImg.js"></script>
<script>
    layui.use(['jquery','form','layer','laydate','table','laytpl', 'element'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            element = layui.element, //Tab的切换功能，切换事件监听等，需要依赖element模块
            laytpl = layui.laytpl,
            table = layui.table;
        //用户列表
        var tableIns = {
            // id:'id',
            elem: '#usersList',
            url : "/admin/sun_food_data",
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            // height : "full-125",
            height: 680,
            size:'sm',
            method:'post',
            // id:'usersListTable',
            cols : [[
                {field: 'sort', title: 'ID', width:100, fixed: 'left', align:'center', templet:'#titleTpl'},
                {field: 'img_url', title: '圖片',align: 'center',templet:'#listImg'},
                {field: 'id', title: 'id', align:'center',hide:true},
                {field: 'title', title: '標題', align:'center'},
                {field: 'url', title: 'URL', align:'center'},
                {field: 'meta', title: 'metaData', align:'center'},
                {title: '操作', templet:'#usersListBar',fixed:"right",align:"center"}

            ]],
            done: function(res, curr, count){
                layer.closeAll();
            }
        };
        var tableIns1 = {
            // id:'id',
            elem: '#usersList1',
            url : "/admin/sun_banner_data",
            where:{type:3},
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            // height : "full-125",
            height: 680,
            size:'sm',
            method:'post',
            // id:'usersListTable',
            cols : [[
                {field: 'sort', title: 'ID', width:100, fixed: 'left', align:'center', templet:'#titleTpl1'},
                {field: 'url', title: '圖片',align: 'center',templet:'#bannerImg'},
                {title: '操作', width:320, templet:'#usersListBar1',fixed:"right",align:"center"}

            ]],
            done: function(res, curr, count){
                layer.closeAll();
            }
        };


        //方法级渲染-默认显示入金记录
        var ins1 = table.render(tableIns);
        var ins2 = table.render(tableIns1);
        //编辑用户
        function edit(id,where){
            var index = layui.layer.open({
                title : "編輯",
                type : 2,
                area: ['100%', '100%'],
                fixed: false, //不固定
                maxmin: true,
                content : "{:url('/admin/sun_food_edit')}"+'?id='+id+'&where='+where,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('點擊返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            // layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                // layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        function edit_banner(id){
            var index = layui.layer.open({
                title : "編輯",
                type : 2,
                area: ['100%', '100%'],
                fixed: false, //不固定
                maxmin: true,
                content : "{:url('/admin/sun_banner_edit')}"+'?id='+id+'&type=3',
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('點擊返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            // layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                // layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        //列表操作
        table.on('tool(usersList)', function(obj){
            var layEvent = obj.event, data = obj.data;
            if(layEvent === 'edit'){ //编辑
                edit(data.id,'edit');
            } else if(layEvent === 'del'){ //删除
                layer.confirm('確定刪除操作？',{icon:3, title:'提示信息'},function(index){
                    $.post("{:url('/admin/sun_food_delete')}",{id:data.id},function(data){
                        var icon=5;
                        if(data.code){
                            icon=6;
                        }
                        layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                            if(data.code){
                                obj.del();
                            }
                        });
                        location.reload();
                    })
                });
            }
        });
        table.on('tool(usersList1)', function(obj){
            var layEvent = obj.event, data = obj.data;
            if(layEvent === 'edit1'){ //编辑
                edit_banner(data.id);
            } else if(layEvent === 'del1'){ //删除
                layer.confirm('確定刪除操作？',{icon:3, title:'提示信息'},function(index){
                    $.post("{:url('/admin/sun_banner_delete')}",{id:data.id},function(data){
                        var icon=5;
                        if(data.code){
                            icon=6;
                        }
                        layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                            if(data.code){
                                obj.del();
                            }
                        });
                        location.reload();
                    })
                });
            }
        });
        $(".adduser_btn").click(function(){
            // edit('');
            if ($('.layui-tab li').eq(0).hasClass("layui-this")) {
                edit('','add');
            } else {
                edit_banner('');
            }
        })

    })
</script>
{/block}
