{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" enctype="multipart/form-data">
    <div class="layui-form-item flex-column">
        <label class="labels">圖片</label>
        <div class="uploadImgBox">
            <!-- 没有图片显示这个 -->
            <div id="noImg" class="add_img">
                <span>
                    <p class="add">+</p>
                    <p class="add_title">上傳圖片</p>
                </span>
            </div>
            <img src="" alt="" id="myImg">
            <input type="file" name="file" accept="image/*" id="uploadImage">
        </div>

    </div>
    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="<?php echo $id; ?>">
            <input type="hidden" name="type" value="<?php echo $type; ?>">

            <button type="button" class="layui-btn" lay-submit lay-filter="*" id="commit">確認</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="/static/js/vender/jquery-3.2.1.min.js"></script>

<script>
    // 点击 input 展示需要上传
    const uploadImage_el = document.getElementById("uploadImage");
    // 监听 input change 事件
    uploadImage_el.addEventListener('change', function () {
        if (!uploadImage_el.value) {
            alert('沒有選擇文件');
            return;
        }
        // 获取File引用:
        const file = uploadImage_el.files[0];
        // 读取文件:
        let reader = new FileReader();
        reader.onload = function (e) {
            const data = e.target.result;
            // 预览图片
            $('#myImg').attr('src', data);
            // 将默认隐藏
            $('#noImg').addClass('promptHide');
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);

    });


    $("#commit").on("click", function () {
        var slug = $("input[ name='file']").val();
        if(!slug){
            msg('請選擇上傳圖片');
            return false;
        }
        var form = new FormData($('#form')[0]);
        $.ajax({
            url: '/admin/sun_banner_commit',
            type: 'POST',
            cache: false,
            data: form,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data) {
                // location.reload();
                if (data.code === 200) {
                    parent.layer.msg('成功',{icon:1});
                    setTimeout(reload,1000);
                } else {
                    parent.layer.msg('失败', { icon: 2 });
                }
            }
        });
    });
    function reload() {
        var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
        window.parent.location.reload();//刷新父页面
        parent.layer.close(index);//关闭弹出层
    }
</script>
{/block}