{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" enctype="multipart/form-data" action="#">
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>繁體標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_hk" id="title_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.title_hk)?$list.title_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>繁體metaData：</label>
        <div class="layui-input-inline">
            <input type="text" name="meta_hk" id="meta_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.meta_hk)?$list.meta_hk:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>繁體altText：</label>
        <div class="layui-input-inline">
            <input type="text" name="text_hk" id="text_hk" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.text_hk)?$list.text_hk:''}">
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>簡體標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_cn" id="title_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.title_cn)?$list.title_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>簡體metaData：</label>
        <div class="layui-input-inline">
            <input type="text" name="meta_cn" id="meta_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.meta_cn)?$list.meta_cn:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>簡體altText：</label>
        <div class="layui-input-inline">
            <input type="text" name="text_cn" id="text_cn" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.text_cn)?$list.text_cn:''}">
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <label class="labels">英文標題：</label>
        <div class="layui-input-inline">
            <input type="text" name="title_en" id="title_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                value="{:isset($list.title_en)?$list.title_en:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">英文metaData：</label>
        <div class="layui-input-inline">
            <input type="text" name="meta_en" id="meta_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                value="{:isset($list.meta_en)?$list.meta_en:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">英文altText：</label>
        <div class="layui-input-inline">
            <input type="text" name="text_en" id="text_en" placeholder="請輸入" autocomplete="off" class="layui-input"
                value="{:isset($list.text_en)?$list.text_en:''}">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels"><span class='Important'>*</span>URL：</label>
        <div class="layui-input-inline">
            <input type="text" name="url" id="url" placeholder="請輸入" autocomplete="off" class="layui-input"
                lay-verify="required" value="{:isset($list.url)?$list.url:''}">
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <label class="labels">{if $where==='add'}<span class='Important'>*</span>{/if}圖片</label>
        <div class="uploadImgBox">
            <!-- 没有图片显示这个 -->
            <div id="noImg" class="add_img">
                <span>
                    <p class="add">+</p>
                    <p class="add_title">上傳圖片</p>
                </span>
            </div>
            <img src="" alt="" id="myImg">
            <input type="file" name="file" accept="image/*" id="uploadImage">
        </div>

    </div>
    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <input type="hidden" name="id" id="id" value="{:isset($list['id'])?$list['id']:''}">

            <button type="button" class="layui-btn" lay-submit lay-filter="*" id="commit">確認</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script src="/static/js/vender/jquery-3.2.1.min.js"></script>

<script>

    // 点击 input 展示需要上传
    const uploadImage_el = document.getElementById("uploadImage");
    // 监听 input change 事件
    uploadImage_el.addEventListener('change', function () {
        if (!uploadImage_el.value) {
            alert('沒有選擇文件');
            return;
        }
        // 获取File引用:
        const file = uploadImage_el.files[0];
        // 读取文件:
        let reader = new FileReader();
        reader.onload = function (e) {
            const data = e.target.result;
            // 预览图片
            $('#myImg').attr('src', data);
            // 将默认隐藏
            $('#noImg').addClass('promptHide');
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);
    });

    var where = "<?php echo $where; ?>";

    $("#commit").on("click", function () {
        var title_hk = $("input[ name='title_hk']").val();
        var meta_hk = $("input[ name='meta_hk']").val();
        var text_hk = $("input[ name='text_hk']").val();
        var title_cn = $("input[ name='title_cn']").val();
        var meta_cn = $("input[ name='meta_cn']").val();
        var text_cn = $("input[ name='text_cn']").val();
        var file = $("input[ name='file']").val();
        var url = $("input[ name='url']").val();

        if(!title_hk){
            msg('繁體標題不能為空');
            return false;
        }
        if(!meta_hk){
            msg('繁體metaData不能為空');
            return false;
        }
        if(!text_hk){
            msg('繁體altText不能為空');
            return false;
        }
        if(!title_cn){
            msg('簡體標題不能為空');
            return false;
        }
        if(!meta_cn){
            msg('簡體metaData不能為空');
            return false;
        }
        if(!text_cn){
            msg('簡體altText不能為空');
            return false;
        }
        if(!url){
            msg('url不能為空');
            return false;
        }else{
            var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
            var objExp=new RegExp(Expression);
            if(objExp.test(url) != true){
                msg("url格式不正確！請重新輸入");
                return false;
            }
        }
        if(where==='add' && !file){
            msg('請選擇上傳圖片');
            return false;
        }
        var form = new FormData($('#form')[0]);
        $.ajax({
            url: '/admin/sun_food_edit_commit',
            type: 'POST',
            cache: false,
            data: form,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    parent.layer.msg('成功',{icon:1});
                    setTimeout(reload,1000);
                } else {
                    parent.layer.msg('失败', { icon: 2 });
                }
            }
        });
    });
    function reload() {
        var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
        window.parent.location.reload();//刷新父页面
        parent.layer.close(index);//关闭弹出层
    }
</script>
{/block}