<footer>
    <div class="footer-wide-frame">
        <div class="footer-links">
            <div class="footer-links-aboutus">
                <div class="footer-links-aboutus-title"><a href="../about-us">{:lang('Group introduce')}</a></div>
            </div>
            <div class="footer-links-childcompany">
                <div class="footer-links-childcompany-title">{:lang('Group business')}</div>
                <div class="footer-links-childcompany-text">
                    <a class="footer-link" href="/companies/sun-vip">{:lang('sun-vip')}</a>
                    <a class="footer-link" href="/companies/sunluxe">{:lang('sunluxe')}</a>
                    <a class="footer-link" href="/companies/sun-entertainment">{:lang('sun-entertainment')}</a>
                    <a class="footer-link" href="/companies/sun-sia">{:lang('sun-sia')}</a>
                    <a class="footer-link" href="/companies/sun-entertainment-concert">{:lang('sun-entertainment-concert')}</a>
                    <a class="footer-link" href="/companies/sun-financial">{:lang('sun-financial')}</a>
                    <a class="footer-link" href="/companies/sun-travel">{:lang('sun-travel')}</a>
                    <a class="footer-link" href="/companies/sun-century">{:lang('sun-century')}</a>
                    <a class="footer-link" href="/companies/sun-food">{:lang('sun-food')}</a>
                    <a class="footer-link" href="/companies/sun-management">{:lang('sun-management')}</a>
                    <a class="footer-link" href="/companies/sun-automobile">{:lang('sun-automobile')}</a>
                </div>
            </div>
            <div class="footer-links-pages">
                <div class="footer-links-pages-title"><a href="../duty">{:lang('duty')}</a></div>
                <div class="footer-links-pages-text"><a href="../news">{:lang('news')}</a></div>
                <div class="footer-links-pages-text"><a href="#">{:lang('wonderful_event')}</a></div>
                <div class="footer-links-pages-text"><a href="../jobs">{:lang('jobs')}</a></div>
            </div>
            <div class="footer-links-sns">
                <div class="footer-links-sns-icons-title">{:lang('follow_us')}</div>
                <div class="footer-links-sns-icons">
                    <a href="https://www.facebook.com/suncitygroup.mo" target="_blank"><img src="../../static/imgs/fb-icon.svg"></img></a>
                    <a href="https://weibo.com/u/5935905623" target="_blank"><img src="../../static/imgs/weibo-icon.svg"></img></a>
                    <a href="javascript:void(0)" id="footer-links-sns-text-wechat-sc" style='display: inline-block;'><img src="../../static/imgs/wechat-icon.svg"></img></a>
                    <div class="footer-links-sns-icons-pop">
                        <img src="" id="footer-links-sns-icons-pop-img"></img>
                    </div>
                </div>
                <div class="footer-links-sns-title">{:lang('group_publication')}</div>
                <div class="footer-links-sns-icons">
                    <a href="http://www.1firstasia.com/" target="_blank"><img src="../../static/imgs/first.png" style='width: 66.2px;
              height: 34.6px;'></img></a>
                    <a href="https://www.facebook.com/1firstmagazine/" target="_blank"><img src="../../static/imgs/fb-icon.svg"></img></a>
                    <a href="javascript:void(0)" id="footer-links-sns-text-wechat-fm" style='display: inline-block;'><img src="../../static/imgs/wechat-icon.svg"></img></a>
                    <div class="footer-links-sns-icons-pop">
                        <img src="" id="footer-links-sns-icons-pop-img"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-contact">
            <div class="footer-contact-title">{:lang('sun_city_group')}</div>
            <div class="footer-contact-text">{:lang('customer_service_hotline')} | {:lang('inside_china')} : <a href="tel:+8615344886600">+86 153 4488 6600</a> | {:lang('macao_china')} : <a href="tel:+85388911000">+853 8891 1000</a></div>
            <div class="footer-contact-text">{:lang('suncity_address')} | <a href="mailto:cs.mo@suncity-group.com">cs.mo@suncity-group.com</a></div>
            <div class="footer-contact-title">© 2018 {:lang('suncity_copy_by')} | <a href="../disclaimer">{:lang('disclaimer')}</a></div>
        </div>
    </div>

    <div class="footer-fold-frame">
        <!-- 窄屏幕折叠样式 -->
        <div class="footer-fold-links">
            <div class="footer-fold-links-aboutus">
                <div class="footer-fold-links-aboutus-title">
                    <span>{:lang('Group introduce')}</span>
                </div>
                <!-- <div class="footer-fold-links-aboutus-group">
                  <div class="footer-fold-links-aboutus-text"><a href="/zh-hant/about-us/#about-us-overview">集團簡介</a></div>
                  <div class="footer-fold-links-aboutus-text"><a href="/zh-hant/about-us/#about-us-bossword">行政總裁的話</a></div>
                </div> -->
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-childcompany">
                <div class="footer-fold-links-childcompany-title">
                    <span>{:lang('Group business')}</span>
                    <img src="../../static/imgs/nav-arrow-down.svg"></img>
                </div>
                <div class="footer-fold-links-childcompany-group">
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-vip">{:lang('sun-vip')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-entertainment">{:lang('sun-entertainment')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-entertainment-concert">{:lang('sun-entertainment-concert')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-travel">{:lang('sun-travel')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-food">{:lang('sun-food')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-automobile">{:lang('sun-automobile')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sunluxe">{:lang('sunluxe')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-sia">{:lang('sun-sia')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-financial">{:lang('sun-financial')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-century">{:lang('sun-century')}</a></div>
                    <div class="footer-fold-links-childcompany-text"><a href="/companies/sun-management">{:lang('sun-management')}</a></div>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-news">
                <div class="footer-fold-links-news-title">
                    <a href="../duty">{:lang('duty')}</a>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-news">
                <div class="footer-fold-links-news-title">
                    <a href="../news">{:lang('news')}</a>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-duty">
                <div class="footer-fold-links-news-title">
                    <a href="#">{:lang('wonderful_event')}</a>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-jobs">
                <div class="footer-fold-links-news-title">
                    <a href="../jobs">{:lang('jobs')}</a>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-sns">
                <div class="footer-fold-links-sns-title">
                    <span>{:lang('follow_us')}</span>
                </div>
                <div class="footer-fold-links-sns-icon">
                    <a href="https://www.facebook.com/suncitygroup.mo" target="_blank"><img src="../../static/imgs/fb-icon.svg"></img></a>
                    <a href="https://weibo.com/u/5935905623" target="_blank"><img src="../../static/imgs/weibo-icon.svg"></img></a>
                    <a href="javascript:void(0)" id="footer-fold-links-sns-text-wechat-sc" style='display: inline-block;'><img src="../../static/imgs/wechat-icon.svg"></img></a>
                    <div class="footer-fold-links-sns-icons-pop">
                        <img src="" id="footer-fold-links-sns-icons-pop-img"></img>
                    </div>
                </div>
            </div>
            <div class="footer-fold-divider"></div>
            <div class="footer-fold-links-sns">
                <div class="footer-fold-links-sns-title">
                    <span>{:lang('group_publication')}</span>
                </div>
                <div class="footer-fold-links-sns-icon">
                    <a href="http://www.1firstasia.com/" target="_blank"><img src="../../static/imgs/first.png" style='width: 66.2px;
              height: 34.6px;'></img></a>
                    <a href="https://www.facebook.com/1firstmagazine" target="_blank"><img src="../../static/imgs/fb-icon.svg"></img></a>
                    <a href="javascript:void(0)" id="footer-fold-links-sns-text-wechat-fm" style='display: inline-block;'><img src="../../static/imgs/wechat-icon.svg"></img></a>
                    <div class="footer-fold-links-sns-icons-pop">
                        <img src="" id="footer-fold-links-sns-icons-pop-img"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-fold-divider"></div>
        <div class="footer-fold-contact">
            <div class="footer-fold-contact-title">{:lang('sun_city_group')}</div>
            <div class="footer-fold-contact-text">{:lang('customer_service_hotline')}</div>
            <div class="footer-fold-contact-text">| {:lang('inside_china')} : <a href="tel:+8615344886600">+86 153 4488 6600</a></div>
            <div class="footer-fold-contact-text">| {:lang('macao_china')} : <a href="tel:+85388911000">+853 8891 1000</a></div>
            <div class="footer-fold-contact-text">{:lang('suncity_address')}</div>
            <div class="footer-fold-contact-text">| <a href="mailto:cs.mo@suncity-group.com">cs.mo@suncity-group.com</a></div>
            <div class="footer-fold-contact-title footer_text">© 2018 {:lang('suncity_copy_by')}</div>
            <div class="footer-fold-contact-title footer_text">| <a href="../disclaimer">{:lang('disclaimer')}</a></div>
        </div>
    </div>

    <div class="footer-to-top">
        <img src="../../static/imgs/up-button.svg">
    </div>
</footer>
