{extend name="base/base" /}
{block name="main"}
<style>
    .thumb {
        margin-left: 5px;
        margin-top: 15px;
        height: 128px
    }

    #prevModal {
        width: 100%;
        height: 100%;
        text-align: center;
        display: none;
    }

    #img_prev {
        max-width: 98%;
        max-height: 98%;
        margin: 10px auto
    }

    .uploadImgBox {
        width: 110px;
        height: 115px;
        overflow: hidden;
        position: relative;
    }

    #uploadImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    #myImg {
        width: 100%;
        height: 100%;
    }

    .promptHide {
        display: none;
    }
</style>
<form id="form" method="post" enctype="multipart/form-data" class="layui-form layui-form-pane" action="#">
    <div class="layui-form-item flex-column">
        <label class="labels">圖片</label>
        <div class="uploadImgBox">
            <!-- 没有图片显示这个 -->
            <div id="noImg" class="add_img">
                <span>
                    <p class="add">+</p>
                    <p class="add_title">上傳圖片</p>
                </span>
            </div>
            <img src="" alt="" id="myImg">
            <input type="file" name="file" accept="image/*" id="uploadImage">
        </div>
    </div>
    <!--<div class='layui-input-block' id='div_prev' title=''></div>-->

    <div class="layui-form-item flex-column">
        <label class="labels">標題</label>
        <div class="layui-input-inline">
            <input type="text" name="name" placeholder="请输入" id="name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item flex-column">
        <label class="labels">描述</label>
        <div class="layui-input-inline">
            <textarea class="layui-textarea" name="description" id="description"></textarea>
        </div>
    </div>

    <div class="layui-form-item flex-column">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="*" id="commit">確認</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script src="/static/js/vender/jquery-3.2.1.min.js"></script>

<script>
    // 点击 input 展示需要上传
    const uploadImage_el = document.getElementById("uploadImage");
    // 监听 input change 事件
    uploadImage_el.addEventListener('change', function () {
        if (!uploadImage_el.value) {
            alert('沒有選擇文件');
            return;
        }
        // 获取File引用:
        const file = uploadImage_el.files[0];
        // 读取文件:
        let reader = new FileReader();
        reader.onload = function (e) {
            const data = e.target.result;
            // 预览图片
            $('#myImg').attr('src', data);
            // 将默认隐藏
            $('#noImg').addClass('promptHide');
        };
        // 以DataURL的形式读取文件:
        reader.readAsDataURL(file);

    });
    // 点击确定开始上传
    $("#commit").on("click", function () {
        var file = $("input[ name='file']").val();
        if(!file){
            msg('請選擇上傳圖片');
            return false;
        }
        var form = new FormData($('#form')[0]);
        $.ajax({
            url: '/admin/uploadCommit',
            type: 'POST',
            cache: false,
            data: form,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data) {
                location.reload();
                if (data.code === 200) {
                    parent.layer.msg('成功', { icon: 1 });
                } else {
                    parent.layer.msg('失败', { icon: 2 });
                }
            }
        });
    });

</script>
{/block}